In [1]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import pandas_profiling
import os
pd.set_option('display.max_columns',None)

In [2]:
# Changing path
os.chdir('/../../../mnt') 
# Transacction Path
input_PATH = 's3-refined-popular/data_orig/transacciones/tarjeta-credito/'
output_PATH = 's3-refined/old/Fraude/Transacciones/'

In [3]:
## Reading file
#file_name_201910 = os.path.join(input_PATH,'transacciones_tarjeta-credito_repgesco-masterfile_M201910.csv')
#file_name_201911 = os.path.join(input_PATH,'transacciones_tarjeta-credito_repgesco-masterfile_M201911.csv')
#file_name_201912 = os.path.join(input_PATH,'transacciones_tarjeta-credito_repgesco-masterfile_M201912.csv')
#file_name_202002 = os.path.join(input_PATH,'transacciones_tarjeta-credito_repgesco-masterfile_M202002.csv')
file_name_202003 = os.path.join(input_PATH,'transacciones_tarjeta-credito_repgesco-masterfile_M202003.csv')

#dates = ['FECHA_COMPROBANTE','FECHA_PROCESO','FECHA_PERIODO']

#data_tx_mast_201910 = pd.read_csv(file_name_201910,sep='|',encoding='latin-1')#, parse_dates=dates)
#data_tx_mast_201911 = pd.read_csv(file_name_201911,sep='|',encoding='latin-1')#, parse_dates=dates)
#data_tx_mast_201912 = pd.read_csv(file_name_201912,sep='|',encoding='latin-1')#, parse_dates=dates)
#data_tx_mast_202002 = pd.read_csv(file_name_202002,sep='|',encoding='latin-1')#, parse_dates=dates)
data_tx_mast_202003 = pd.read_csv(file_name_202003,sep='|',encoding='latin-1')#, parse_dates=dates)

data_tx_mast = pd.concat([data_tx_mast_202003])
    #data_tx_mast_201910, data_tx_mast_201911, data_tx_mast_201912, data_tx_mast_202002, data_tx_mast_202003])

/home/jupyter/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,3,7,17,18,21,23,24,26,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_tx_mast.head(5)

,TIPO_ID,TIPO_ID_HOMOL,CONT_ID,IDENTIFICACION_CLIENTE,NRO_CUENTA,NUMERO_TARJETA,BIN,COD_UNICO_TRX,DESCRIPCION_TRX,FECHA_TRANSACCION,HORA_TRANSACCION,FECHA_PROCESO,TIPO_DE_PRODUCTO_TC,CODIGO_SERVICIO,VALOR_TOTAL,VALOR_IVA,VALOR_PROPINA,REFERENCIA,TIPO_TRANSACCION,NOMBRE_COMERCIO,CIUDAD_COMERCIO,ESTADO_COMERCIO,FECHA_TRX_INT,VALOR_MONEDA_ORIGEN,COD_MONEDA_ORIGEN,MODULO_LOGICO,COD_AUTORIZA,MCC,COD_ESTABLE,CUOTAS,REFEREN_UNIVERSAL,FUENTE,FECHA_PERIODO
0,01,1000003,1.771523e+17,37921449,4066944506469531646,000406******4433,406694,CT200630137000010000012,Avianca Chapinero BOGOTA DC CO,02/03/2020,12:12:58,03/03/2020,TRADICIONAL,3039.0,134980.0,0.0,23000.0,CT200630137000010000012,D,Avianca Chapinero,11001Bogot,CO,/ca/Avia,hapinero,OGO,1.0,000009,3039.0,1.0002e+07,1,4506680203201001476380,MASTERFILE,03/2020
1,01,1000003,4.219523e+17,74355112,4066944500013037358,000406******1935,406694,CT200630137000010000064,SPORTY CITY MEDELLIN CO,02/03/2020,15:21:57,03/03/2020,TRADICIONAL,7298.0,59900.0,0.0,0.0,CT200630137000010000064,D,SPORTY CITY,05001MEDELLIN,CO,/Y /SPOR,TY,EDE,1.0,000017,7298.0,1.55965e+07,1,4559860203201001944324,MASTERFILE,03/2020
2,01,1000003,5.728523e+17,31533043,4066944504969003372,000406******8600,406694,CT200690245000010000217,ZARA CALI CO,08/03/2020,17:09:02,09/03/2020,TRADICIONAL,5651.0,379600.0,0.0,0.0,CT200690245000010000217,D,ZARA,76001CALI,CO,/ /ZARA,,ALI,1.0,000023,5651.0,1.2273e+07,1,4559860803201000094851,MASTERFILE,03/2020
3,01,1000003,1.454549e+17,1051660714,4066944509192821383,000406******4402,406694,CT200710140000010000095,PAYU* DIDI BOGOTA DC CO,10/03/2020,83:32:5,11/03/2020,TRADICIONAL,5712.0,11285.0,0.0,0.0,CT200710140000010000095,D,PAYU* DIDI,11001BOGOTA,CO,/ D/PAYU,I,OGO,1.0,000023,5712.0,1.5966e+07,1,4559861003201009967863,MASTERFILE,03/2020
4,01,1000003,7.337523e+17,13826647,4066944504400844202,000406******9916,406694,VT200690203000010000023,APPLE.COM/BILL 866-712-7753 CA,07/03/2020,73:90:2,09/03/2020,TRADICIONAL,5735.0,6900.0,0.0,0.0,VT200690203000010000023,D,APPLE.COM/BILL,866-712-7753,CA,/.C/APPL,/BILL,66-,1.0,000025,5735.0,0,1,24692160067100646905227,MASTERFILE,03/2020

In [5]:
(1-(data_tx_mast.count()/len(data_tx_mast)))*100

TIPO_ID                    0.000000
TIPO_ID_HOMOL              0.000000
CONT_ID                   15.939307
IDENTIFICACION_CLIENTE     0.000000
NRO_CUENTA                 0.000000
NUMERO_TARJETA             0.000000
BIN                        0.000000
COD_UNICO_TRX              0.000000
DESCRIPCION_TRX            0.000000
FECHA_TRANSACCION          0.000000
HORA_TRANSACCION          51.883378
FECHA_PROCESO              0.000000
TIPO_DE_PRODUCTO_TC        2.069041
CODIGO_SERVICIO           67.791058
VALOR_TOTAL                0.000000
VALOR_IVA                 67.791058
VALOR_PROPINA             67.791058
REFERENCIA                67.791058
TIPO_TRANSACCION          67.791058
NOMBRE_COMERCIO            0.000000
CIUDAD_COMERCIO           51.883378
ESTADO_COMERCIO           67.791058
FECHA_TRX_INT              0.000000
VALOR_MONEDA_ORIGEN       67.791058
COD_MONEDA_ORIGEN          0.000000
MODULO_LOGICO             67.791058
COD_AUTORIZA              67.791058
MCC                       67.791058
COD_ESTABLE               67.791058
CUOTAS                     0.000000
REFEREN_UNIVERSAL         67.791058
FUENTE                     0.000000
FECHA_PERIODO              0.000000
dtype: float64

In [6]:
data_tx_mast.shape

(256109, 33)

In [7]:
data_tx_mast = data_tx_mast.drop_duplicates()
data_tx_mast.columns = data_tx_mast.columns.str.lower()

print(data_tx_mast.shape)
print(data_tx_mast.columns)
data_tx_mast.head()

(256109, 33)
Index(['tipo_id', 'tipo_id_homol', 'cont_id', 'identificacion_cliente',
       'nro_cuenta', 'numero_tarjeta', 'bin', 'cod_unico_trx',
       'descripcion_trx', 'fecha_transaccion', 'hora_transaccion',
       'fecha_proceso', 'tipo_de_producto_tc', 'codigo_servicio',
       'valor_total', 'valor_iva', 'valor_propina', 'referencia',
       'tipo_transaccion', 'nombre_comercio', 'ciudad_comercio',
       'estado_comercio', 'fecha_trx_int', 'valor_moneda_origen',
       'cod_moneda_origen', 'modulo_logico', 'cod_autoriza', 'mcc',
       'cod_estable', 'cuotas', 'referen_universal', 'fuente',
       'fecha_periodo'],
      dtype='object')

,tipo_id,tipo_id_homol,cont_id,identificacion_cliente,nro_cuenta,numero_tarjeta,bin,cod_unico_trx,descripcion_trx,fecha_transaccion,hora_transaccion,fecha_proceso,tipo_de_producto_tc,codigo_servicio,valor_total,valor_iva,valor_propina,referencia,tipo_transaccion,nombre_comercio,ciudad_comercio,estado_comercio,fecha_trx_int,valor_moneda_origen,cod_moneda_origen,modulo_logico,cod_autoriza,mcc,cod_estable,cuotas,referen_universal,fuente,fecha_periodo
0,01,1000003,1.771523e+17,37921449,4066944506469531646,000406******4433,406694,CT200630137000010000012,Avianca Chapinero BOGOTA DC CO,02/03/2020,12:12:58,03/03/2020,TRADICIONAL,3039.0,134980.0,0.0,23000.0,CT200630137000010000012,D,Avianca Chapinero,11001Bogot,CO,/ca/Avia,hapinero,OGO,1.0,000009,3039.0,1.0002e+07,1,4506680203201001476380,MASTERFILE,03/2020
1,01,1000003,4.219523e+17,74355112,4066944500013037358,000406******1935,406694,CT200630137000010000064,SPORTY CITY MEDELLIN CO,02/03/2020,15:21:57,03/03/2020,TRADICIONAL,7298.0,59900.0,0.0,0.0,CT200630137000010000064,D,SPORTY CITY,05001MEDELLIN,CO,/Y /SPOR,TY,EDE,1.0,000017,7298.0,1.55965e+07,1,4559860203201001944324,MASTERFILE,03/2020
2,01,1000003,5.728523e+17,31533043,4066944504969003372,000406******8600,406694,CT200690245000010000217,ZARA CALI CO,08/03/2020,17:09:02,09/03/2020,TRADICIONAL,5651.0,379600.0,0.0,0.0,CT200690245000010000217,D,ZARA,76001CALI,CO,/ /ZARA,,ALI,1.0,000023,5651.0,1.2273e+07,1,4559860803201000094851,MASTERFILE,03/2020
3,01,1000003,1.454549e+17,1051660714,4066944509192821383,000406******4402,406694,CT200710140000010000095,PAYU* DIDI BOGOTA DC CO,10/03/2020,83:32:5,11/03/2020,TRADICIONAL,5712.0,11285.0,0.0,0.0,CT200710140000010000095,D,PAYU* DIDI,11001BOGOTA,CO,/ D/PAYU,I,OGO,1.0,000023,5712.0,1.5966e+07,1,4559861003201009967863,MASTERFILE,03/2020
4,01,1000003,7.337523e+17,13826647,4066944504400844202,000406******9916,406694,VT200690203000010000023,APPLE.COM/BILL 866-712-7753 CA,07/03/2020,73:90:2,09/03/2020,TRADICIONAL,5735.0,6900.0,0.0,0.0,VT200690203000010000023,D,APPLE.COM/BILL,866-712-7753,CA,/.C/APPL,/BILL,66-,1.0,000025,5735.0,0,1,24692160067100646905227,MASTERFILE,03/2020

In [9]:
data_tx_mast.dtypes

tipo_id                    object
tipo_id_homol               int64
cont_id                   float64
identificacion_cliente     object
nro_cuenta                  int64
numero_tarjeta             object
bin                         int64
cod_unico_trx              object
descripcion_trx            object
fecha_transaccion          object
hora_transaccion           object
fecha_proceso              object
tipo_de_producto_tc        object
codigo_servicio           float64
valor_total               float64
valor_iva                 float64
valor_propina             float64
referencia                 object
tipo_transaccion           object
nombre_comercio            object
ciudad_comercio            object
estado_comercio            object
fecha_trx_int              object
valor_moneda_origen        object
cod_moneda_origen          object
modulo_logico             float64
cod_autoriza               object
mcc                       float64
cod_estable                object
cuotas                      int64
referen_universal          object
fuente                     object
fecha_periodo              object
dtype: object

In [10]:
# Cast date variable
#data_tx_mast['fecha_comprobante'] = pd.to_datetime(data_tx_mast['fecha_comprobante'], infer_datetime_format=True, errors='coerce')
data_tx_mast['date'] = pd.to_datetime(data_tx_mast['fecha_proceso']).dt.to_period('m')
data_tx_mast['fecha_periodo'] = pd.to_datetime(data_tx_mast['fecha_periodo'], infer_datetime_format=True, errors='coerce')

# data_tx_tdc['cont_id'] = data_tx_tdc['cont_id'].astype(str)

# Pend revisar -> codigo_servicio

In [11]:
# Conteo por fechas
no_transacciones = data_tx_mast['fecha_periodo'].value_counts().sort_index().reset_index(name='conteo_transaccion')
no_transacciones

       index  conteo_transaccion
0 2020-03-01              251632
1 2020-04-01                4477

In [12]:
data_tx_mast.columns

Index(['tipo_id', 'tipo_id_homol', 'cont_id', 'identificacion_cliente',
       'nro_cuenta', 'numero_tarjeta', 'bin', 'cod_unico_trx',
       'descripcion_trx', 'fecha_transaccion', 'hora_transaccion',
       'fecha_proceso', 'tipo_de_producto_tc', 'codigo_servicio',
       'valor_total', 'valor_iva', 'valor_propina', 'referencia',
       'tipo_transaccion', 'nombre_comercio', 'ciudad_comercio',
       'estado_comercio', 'fecha_trx_int', 'valor_moneda_origen',
       'cod_moneda_origen', 'modulo_logico', 'cod_autoriza', 'mcc',
       'cod_estable', 'cuotas', 'referen_universal', 'fuente', 'fecha_periodo',
       'date'],
      dtype='object')

In [15]:
data_tx_mast.head(5)

,tipo_id,tipo_id_homol,cont_id,identificacion_cliente,nro_cuenta,numero_tarjeta,bin,cod_unico_trx,descripcion_trx,fecha_transaccion,hora_transaccion,fecha_proceso,tipo_de_producto_tc,codigo_servicio,valor_total,valor_iva,valor_propina,referencia,tipo_transaccion,nombre_comercio,ciudad_comercio,estado_comercio,fecha_trx_int,valor_moneda_origen,cod_moneda_origen,modulo_logico,cod_autoriza,mcc,cod_estable,cuotas,referen_universal,fuente,fecha_periodo,date
0,01,1000003,1.771523e+17,37921449,4066944506469531646,000406******4433,406694,CT200630137000010000012,Avianca Chapinero BOGOTA DC CO,02/03/2020,12:12:58,03/03/2020,TRADICIONAL,3039.0,134980.0,0.0,23000.0,CT200630137000010000012,D,Avianca Chapinero,11001Bogot,CO,/ca/Avia,hapinero,OGO,1.0,000009,3039.0,1.0002e+07,1,4506680203201001476380,MASTERFILE,2020-03-01,2020-03
1,01,1000003,4.219523e+17,74355112,4066944500013037358,000406******1935,406694,CT200630137000010000064,SPORTY CITY MEDELLIN CO,02/03/2020,15:21:57,03/03/2020,TRADICIONAL,7298.0,59900.0,0.0,0.0,CT200630137000010000064,D,SPORTY CITY,05001MEDELLIN,CO,/Y /SPOR,TY,EDE,1.0,000017,7298.0,1.55965e+07,1,4559860203201001944324,MASTERFILE,2020-03-01,2020-03
2,01,1000003,5.728523e+17,31533043,4066944504969003372,000406******8600,406694,CT200690245000010000217,ZARA CALI CO,08/03/2020,17:09:02,09/03/2020,TRADICIONAL,5651.0,379600.0,0.0,0.0,CT200690245000010000217,D,ZARA,76001CALI,CO,/ /ZARA,,ALI,1.0,000023,5651.0,1.2273e+07,1,4559860803201000094851,MASTERFILE,2020-03-01,2020-09
3,01,1000003,1.454549e+17,1051660714,4066944509192821383,000406******4402,406694,CT200710140000010000095,PAYU* DIDI BOGOTA DC CO,10/03/2020,83:32:5,11/03/2020,TRADICIONAL,5712.0,11285.0,0.0,0.0,CT200710140000010000095,D,PAYU* DIDI,11001BOGOTA,CO,/ D/PAYU,I,OGO,1.0,000023,5712.0,1.5966e+07,1,4559861003201009967863,MASTERFILE,2020-03-01,2020-11
4,01,1000003,7.337523e+17,13826647,4066944504400844202,000406******9916,406694,VT200690203000010000023,APPLE.COM/BILL 866-712-7753 CA,07/03/2020,73:90:2,09/03/2020,TRADICIONAL,5735.0,6900.0,0.0,0.0,VT200690203000010000023,D,APPLE.COM/BILL,866-712-7753,CA,/.C/APPL,/BILL,66-,1.0,000025,5735.0,0,1,24692160067100646905227,MASTERFILE,2020-03-01,2020-09

In [16]:
pd.DataFrame(data_tx_mast.fecha_proceso.value_counts().reset_index())
#a.to_csv('s3-refined-popular/old/Transacciones/fechas_txactivo.csv',sep='|',encoding='utf-8')

         index  fecha_proceso
0   09/03/2020          18246
1   16/03/2020          17387
2   19/03/2020          12872
3   18/03/2020          11445
4   17/03/2020          10937
5   20/03/2020          10773
6   12/03/2020          10399
7   13/03/2020          10308
8   05/03/2020          10224
9   06/03/2020          10052
10  03/03/2020           9687
11  02/03/2020           9591
12  24/03/2020           9561
13  11/03/2020           9470
14  10/03/2020           9389
15  08/03/2020           8993
16  04/03/2020           8420
17  15/03/2020           8257
18  07/03/2020           6704
19  14/03/2020           6685
20  30/03/2020           5971
21  25/03/2020           5947
22  21/03/2020           5603
23  22/03/2020           4327
24  01/04/2020           4112
25  26/03/2020           4087
26  27/03/2020           4018
27  31/03/2020           3848
28  23/03/2020           2993
29  28/03/2020           2765
30  29/03/2020           2581
31  02/04/2020            298
32  01/03/2020             92
33  03/04/2020             59
34  04/04/2020              2
35  07/04/2020              2
36  06/04/2020              1
37  05/04/2020              1
38  08/04/2020              1
39  14/04/2020              1

In [ ]:
data_tx_mast.descripcion_trx.value_counts()

In [ ]:
data_tx_mast.estado_comercio.value_counts()

In [ ]:
data_tx_mast.fecha_transaccion.value_counts()

In [ ]:
data_tx_mast.fuente.value_counts()

In [ ]:
data_tx_mast.hora_transaccion.value_counts()

In [ ]:
data_tx_mast.mcc.value_counts()

In [ ]:
data_tx_mast.modulo_logico.value_counts()

In [ ]:
data_tx_mast.nro_cuenta.value_counts()

In [ ]:
data_tx_mast.tipo_de_producto_tc.value_counts()

In [ ]:
data_tx_mast.tipo_id.value_counts()

In [ ]:
data_tx_mast.tipo_id_homol.value_counts()

In [ ]:
data_tx_mast.tipo_transaccion.value_counts()

In [ ]:
data_tx_mast.valor_iva.value_counts()

In [ ]:
data_tx_mast.valor_moneda_origen.value_counts()

In [ ]:
data_tx_mast.fuente.value_counts()

In [ ]:
data_tx_mast.head()

In [ ]:
data_tx_mast.groupby(['fecha_periodo'])['bin'].count().plot(title='Conteo transacciones por mes')
plt.xlabel('Mes')
plt.ylabel('Numero de transacciones')

In [ ]:
# Conteo por fechas
data_tx_mast['fecha_periodo'].value_counts().sort_index().reset_index(name='Conteo trasacciones por mes')

In [ ]:
hora = data_tx_mast[data_tx_mast['hora_transaccion'].isnull() == False]

In [ ]:
print(data_tx_mast.shape)
print(hora.shape)

In [ ]:
123231/256109

In [ ]:
hora.head()

In [ ]:
clientes_unicos = pd.DataFrame(hora['identificacion_cliente'].value_counts())
clientes_unicos = clientes_unicos.reset_index()
clientes_unicos

In [ ]:
clientes_unicos['identificacion_cliente'].value_counts()

In [ ]:
result = pd.merge(hora, 
                  clientes_unicos[['index','identificacion_cliente']],
                  left_on='identificacion_cliente',
                  right_on='index',
                  how='left')

In [ ]:
result.head()

In [ ]:
clientes_unicos_fecha = pd.DataFrame(hora.groupby(['identificacion_cliente','fecha_periodo'])['identificacion_cliente'].count())
clientes_unicos_fecha.columns = ['conteo']

In [ ]:
clientes_unicos_fecha.reset_index()

In [ ]:
clientes_unicos_fecha['conteo'].value_counts()

In [ ]:
a = pd.DataFrame(data_tx_mast['fecha_trx_int'].value_counts())

In [ ]:
data_tx_mast.head()

In [ ]:
data_tx_mast['cod_autoriza'].value_counts()

In [ ]:
a=a.reset_index()

In [ ]:
a

In [ ]:
from datetime import datetime

In [ ]:
datetime.strptime(data_tx_mast.fecha_trx_int, '%d/%m/%Y'))

In [ ]:
data_tx_mast_202003.columns

In [ ]:
data_tx_mast_201908.head()