In [1]:
# Paquetes
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta
import dateutil.relativedelta
import gc

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',400)

## Cargando Info TU

In [2]:
## Base 60k clientes

path = 's3://adl-refined-dev-popular/data_orig/tmp/tmpg_perfilados_M20200817.csv'

data_orig = pd.read_csv(path,sep='|', encoding='latin-1', dtype={'NUMERO_DOC':str,'ID_CLIENTE':str,'ID_NUM_IDENTIFICACION':str,})

print(data_orig.shape)
data_orig

(28600, 9)

,TIPO_DOC,NUMERO_DOC,NOMBRE_CAMPAÑA,FECHA_INICIO,FECHA_FIN,TIPO,CIUDAD_CRM,ID_CLIENTE,ID_NUM_IDENTIFICACION
0,1,10000710,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,784052310001134201,10000710
1,1,10000851,Act_02_19_202007,44044,44135,CLIENTE INACTIVO,BOGOTA,315352309121128202,10000851
2,1,10000919,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,361154868646775601,10000919
3,1,10001108,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,205552310859223401,10001108
4,1,10003005,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,GIRARDOT,767952295444029901,10003005
...,...,...,...,...,...,...,...,...,...
28595,1,9975185,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,819052295442438701,9975185
28596,1,9975309,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,IBAGUE,139052295442490402,9975309
28597,1,9975866,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,BOGOTA,758052317530653101,9975866
28598,1,9976368,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,941552295442864001,9976368
28599,1,9990510,Act_02_19_202007,44044,44135,CLIENTE ACTIVO,CALI,668252315947058202,9990510

In [3]:
data_orig = data_orig.rename(columns={'TIPO_DOC':'TIPO_IDENTIFICACION','NUMERO_DOC':'NUMERO_IDENTIFICACION'})
data_orig.set_index(['TIPO_IDENTIFICACION','NUMERO_IDENTIFICACION'], inplace=True)

In [4]:
data_orig.columns

Index(['NOMBRE_CAMPAÑA', 'FECHA_INICIO', 'FECHA_FIN', 'TIPO', 'CIUDAD_CRM',
       'ID_CLIENTE', 'ID_NUM_IDENTIFICACION'],
      dtype='object')

In [5]:
data_orig.reset_index().dtypes

TIPO_IDENTIFICACION       int64
NUMERO_IDENTIFICACION    object
NOMBRE_CAMPAÑA           object
FECHA_INICIO              int64
FECHA_FIN                 int64
TIPO                     object
CIUDAD_CRM               object
ID_CLIENTE               object
ID_NUM_IDENTIFICACION    object
dtype: object

In [6]:
path = 's3://adl-refined-dev-popular/data_orig/tmp/tmpg_credivision_M20200825.xlsx'

data_TU = pd.read_excel(path, dtype={'NUMERO_IDENTIFICACION':str})

print(data_TU.shape)
data_TU.head(20)

(15000, 15)

,TIPO_IDENTIFICACION,NUMERO_IDENTIFICACION,RE20S,ALL255,AGG214,SA21S,AT35AF,AT28AF,TEL20S,AT20SF,RT20S,BC02S,DM001,UL27S,BR01S
0,1,51875614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,43515177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,41700536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,124033,156.0,440.0,58025.0,12.0,38.0,31550.0,182.0,157.0,-1.0,1.0,86.0,3.0,6.0
4,1,130354,-4.0,-6.0,-6.0,-1.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,87.0,-4.0,-4.0
5,1,162580,571.0,4181.0,86200.0,55.0,148.0,86200.0,49.0,571.0,185.0,1.0,85.0,6.0,13.0
6,1,186804,272.0,2184.0,21659.0,14.0,4474.0,28902.0,44.0,272.0,170.0,1.0,67.0,4.0,3.0
7,1,191812,-4.0,-6.0,-6.0,11.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,66.0,-4.0,-4.0
8,1,194265,127.0,4072.0,124900.0,1.0,88.0,50900.0,144.0,171.0,27.0,2.0,66.0,7.0,6.0
9,1,195123,392.0,48583.0,1118951.0,2.0,99126.0,2474258.0,195.0,392.0,-1.0,12.0,63.0,11.0,20.0
10,1,208046,-1.0,-2.0,46000.0,111.0,13631.0,31000.0,-1.0,116.0,-1.0,-1.0,63.0,1.0,0.0
11,1,210602,167.0,0.0,24720.0,145.0,7.0,24720.0,150.0,290.0,-1.0,1.0,63.0,2.0,4.0
12,1,218279,174.0,871.0,15000.0,9.0,31605.0,128007.0,74.0,174.0,174.0,1.0,63.0,1.0,4.0
13,1,230304,171.0,0.0,149225.0,37.0,18307.0,112127.0,120.0,187.0,73.0,3.0,64.0,4.0,17.0
14,1,230784,87.0,0.0,14000.0,42.0,4175.0,15500.0,80.0,87.0,87.0,1.0,67.0,0.0,1.0
15,1,237678,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
16,1,239477,-1.0,105.0,-2.0,46.0,-3.0,-3.0,119.0,167.0,-1.0,-1.0,85.0,1.0,0.0
17,1,241685,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
18,1,243733,118.0,-2.0,-2.0,301.0,-3.0,-3.0,123.0,118.0,-1.0,0.0,86.0,-3.0,2.0
19,1,255620,177.0,-2.0,4850.0,71.0,2034.0,12300.0,102.0,177.0,38.0,1.0,64.0,2.0,3.0

In [7]:
data_TU.set_index(['TIPO_IDENTIFICACION','NUMERO_IDENTIFICACION'], inplace=True)

In [8]:
data_TU.reset_index().dtypes

TIPO_IDENTIFICACION        int64
NUMERO_IDENTIFICACION     object
RE20S                    float64
ALL255                   float64
AGG214                   float64
SA21S                    float64
AT35AF                   float64
AT28AF                   float64
TEL20S                   float64
AT20SF                   float64
RT20S                    float64
BC02S                    float64
DM001                    float64
UL27S                    float64
BR01S                    float64
dtype: object

In [9]:
data_FTU = data_TU.join(data_orig[['ID_CLIENTE']], how='left')
data_FTU.reset_index(inplace=True)

print(data_FTU.shape)
data_FTU.head()

(15006, 16)

,TIPO_IDENTIFICACION,NUMERO_IDENTIFICACION,RE20S,ALL255,AGG214,SA21S,AT35AF,AT28AF,TEL20S,AT20SF,RT20S,BC02S,DM001,UL27S,BR01S,ID_CLIENTE
0,1,10000710,-1.0,255.0,31000.0,59.0,10119.0,31000.0,105.0,130.0,-1.0,-1.0,43.0,1.0,0.0,784052310001134201
1,1,10001108,179.0,213.0,6400.0,4.0,8400.0,85564.0,127.0,183.0,158.0,3.0,43.0,1.0,5.0,205552310859223401
2,1,10003005,152.0,5117.0,36565.0,50.0,2366.0,23015.0,199.0,157.0,152.0,1.0,43.0,4.0,1.0,767952295444029901
3,1,10011983,86.0,575.0,40675.0,191.0,10276.0,40000.0,126.0,143.0,86.0,2.0,41.0,3.0,1.0,521152307006793601
4,1,10012781,74.0,5361.0,12400.0,47.0,11416.0,43600.0,132.0,162.0,-1.0,1.0,41.0,2.0,1.0,158852311657703101

In [10]:
data_FTU = data_FTU[data_FTU['ID_CLIENTE'].notnull()]

In [11]:
## Configurando nulos

cols = data_FTU.columns[~data_FTU.columns.isin(['TIPO_IDENTIFICACION','NUMERO_IDENTIFICACION','ID_CLIENTE'])]


for col in cols:
    
    data_FTU[col] = np.where(data_FTU[col].isin([-1,-2,-3,-4,-5,-6,-7,-9,999]),np.nan,data_FTU[col])
    
#### to lower
    
data_FTU.columns = data_FTU.columns.str.lower()
data_FTU.set_index('id_cliente', inplace=True)

data_FTU.head()

,tipo_identificacion,numero_identificacion,re20s,all255,agg214,sa21s,at35af,at28af,tel20s,at20sf,rt20s,bc02s,dm001,ul27s,br01s
id_cliente,,,,,,,,,,,,,,,
784052310001134201,1,10000710,NaN,255.0,31000.0,59.0,10119.0,31000.0,105.0,130.0,NaN,NaN,43.0,1.0,0.0
205552310859223401,1,10001108,179.0,213.0,6400.0,4.0,8400.0,85564.0,127.0,183.0,158.0,3.0,43.0,1.0,5.0
767952295444029901,1,10003005,152.0,5117.0,36565.0,50.0,2366.0,23015.0,199.0,157.0,152.0,1.0,43.0,4.0,1.0
521152307006793601,1,10011983,86.0,575.0,40675.0,191.0,10276.0,40000.0,126.0,143.0,86.0,2.0,41.0,3.0,1.0
158852311657703101,1,10012781,74.0,5361.0,12400.0,47.0,11416.0,43600.0,132.0,162.0,NaN,1.0,41.0,2.0,1.0

In [12]:
data_FTU.count()

tipo_identificacion      14129
numero_identificacion    14129
re20s                    12050
all255                   12001
agg214                   11449
sa21s                    13737
at35af                   11813
at28af                   11815
tel20s                   12144
at20sf                   13515
rt20s                    10040
bc02s                    11223
dm001                    14110
ul27s                    11903
br01s                    13822
dtype: int64

## TX Pasivos

In [13]:
## Agregando últimas columnas TX Pasivo

path = "s3://adl-refined-dev-popular/parquet/TC_adquisicion/tx_pasivo_202006_vars_finales_model"

data_TX = pd.read_parquet(path, engine='pyarrow')
data_TX.set_index('id_cliente', inplace=True)

data_TX.head()

,PERIODO,num_tx_ult_1mes_ahr,sum_tx_linea_ahr,dias_desde_ult_tx_ahr,sum_tx_linea,sum_tx_nolinea
id_cliente,,,,,,
101958376376088702,202006,1.000000,1.0,28,1.0,NaN
102652294123116001,202006,2.333333,NaN,11,NaN,3.0
102652294793663401,202006,2.666667,3.0,4,3.0,NaN
102652295678115801,202006,1.000000,1.0,4,1.0,NaN
102652296335428801,202006,3.000000,5.0,11,5.0,NaN

In [14]:
data_TX = data_TX.rename(columns={'sum_tx_linea':'sum_tx_linea_pasv'})

## Pasivos

In [15]:
## Agregando últimas columnas TX Pasivo

path = "s3://adl-refined-dev-popular/parquet/TC_adquisicion/pasivo_201801_202006"

data_pasv = pd.read_parquet(path, engine='pyarrow')
data_pasv.set_index('id_cliente', inplace=True)

data_pasv.head()

,fecha_pasivo,pasv_antig_total,pasv_dias_desde_ultima_trans,pasv_saldo_ca_1mes_atras
id_cliente,,,,
101052294083942902,201801,314.766667,6.0,0.0
101052294083942902,201802,315.800000,9.0,0.0
101052294083942902,201803,316.733333,5.0,0.0
101052294083942902,201804,317.766667,6.0,0.0
101052294083942902,201805,318.766667,2.0,0.0

In [16]:
data_pasv['fecha_pasivo'].value_counts()

201811    745362
201809    745053
201812    744828
201810    744399
201808    741953
201901    740278
201902    737414
201807    735489
201806    734414
201903    732983
201805    732658
201904    731886
201804    725768
201911    724849
201803    720465
201912    716356
201905    715257
201906    715188
201802    712149
201907    708761
202001    703501
201801    701709
201908    701394
201909    696954
202002    695606
201910    691511
202003    684631
202005    653311
202006    643222
202004    622988
Name: fecha_pasivo, dtype: int64

In [17]:
## Filter by date
data_pasv = data_pasv[data_pasv['fecha_pasivo'] == 202006]

In [18]:
cols = ['sa21s','re20s','tel20s', 'sum_tx_linea_pasv', 'at35af', 'num_tx_ult_1mes_ahr', 
           'all255','pasv_dias_desde_ultima_trans','ul27s','at20sf',
           'rt20s','at28af','bc02s','dm001','br01s','agg214']

## Adding TX
data_mdt = data_FTU.join(data_TX, how='left')
data_mdt.reset_index(inplace=True)
data_mdt['id_cliente'] = data_mdt['id_cliente'].astype('int')
data_mdt.set_index('id_cliente', inplace=True)

## Addimg Pasv
data_mdt = data_mdt.join(data_pasv, how='left')
data_mdt = data_mdt[['tipo_identificacion', 'numero_identificacion']+cols]

print(data_mdt.shape)
data_mdt.head()

(14129, 18)

,tipo_identificacion,numero_identificacion,sa21s,re20s,tel20s,sum_tx_linea_pasv,at35af,num_tx_ult_1mes_ahr,all255,pasv_dias_desde_ultima_trans,ul27s,at20sf,rt20s,at28af,bc02s,dm001,br01s,agg214
id_cliente,,,,,,,,,,,,,,,,,,
101052313683385701,1,39713759,10.0,99.0,27.0,NaN,1188.0,NaN,212.0,NaN,1.0,99.0,92.0,5406.0,3.0,60.0,2.0,4219.0
101156961048576102,1,10490048,28.0,161.0,90.0,NaN,35726.0,NaN,9923.0,NaN,2.0,161.0,NaN,317119.0,0.0,45.0,18.0,8437.0
101355361933973101,1,14676055,16.0,166.0,NaN,NaN,NaN,NaN,0.0,111.0,NaN,166.0,166.0,NaN,NaN,38.0,0.0,NaN
101452313695921001,1,51995622,33.0,80.0,33.0,NaN,19920.0,NaN,9316.0,NaN,2.0,174.0,54.0,64582.0,1.0,53.0,1.0,63104.0
101452315947082501,1,43505805,92.0,259.0,94.0,NaN,556.0,NaN,367.0,NaN,1.0,259.0,102.0,2024.0,1.0,54.0,16.0,40024.0

In [19]:
data_mdt.count()

tipo_identificacion             14129
numero_identificacion           14129
sa21s                           13737
re20s                           12050
tel20s                          12144
sum_tx_linea_pasv                5065
at35af                          11813
num_tx_ult_1mes_ahr              5095
all255                          12001
pasv_dias_desde_ultima_trans     6209
ul27s                           11903
at20sf                          13515
rt20s                           10040
at28af                          11815
bc02s                           11223
dm001                           14110
br01s                           13822
agg214                          11449
dtype: int64

In [20]:
import pickle
## Cargando Modelo

fecha = '20200803' # definir fecha
xgboost_filename = '/mnt/work/CU_adquisicionTC/Notebooks/creacion_modelo/Modelos PKL/Model_perf_'+fecha+'_VTUF.pkl'
xgboost_pkl = open(xgboost_filename, 'rb')
model = pickle.load(xgboost_pkl)

In [21]:
# Score

data_mdt['score'] = model.predict_proba(data_mdt[cols])[:, 1]
data_mdt.head()

,tipo_identificacion,numero_identificacion,sa21s,re20s,tel20s,sum_tx_linea_pasv,at35af,num_tx_ult_1mes_ahr,all255,pasv_dias_desde_ultima_trans,ul27s,at20sf,rt20s,at28af,bc02s,dm001,br01s,agg214,score
id_cliente,,,,,,,,,,,,,,,,,,,
101052313683385701,1,39713759,10.0,99.0,27.0,NaN,1188.0,NaN,212.0,NaN,1.0,99.0,92.0,5406.0,3.0,60.0,2.0,4219.0,0.000099
101156961048576102,1,10490048,28.0,161.0,90.0,NaN,35726.0,NaN,9923.0,NaN,2.0,161.0,NaN,317119.0,0.0,45.0,18.0,8437.0,0.000287
101355361933973101,1,14676055,16.0,166.0,NaN,NaN,NaN,NaN,0.0,111.0,NaN,166.0,166.0,NaN,NaN,38.0,0.0,NaN,0.000024
101452313695921001,1,51995622,33.0,80.0,33.0,NaN,19920.0,NaN,9316.0,NaN,2.0,174.0,54.0,64582.0,1.0,53.0,1.0,63104.0,0.002196
101452315947082501,1,43505805,92.0,259.0,94.0,NaN,556.0,NaN,367.0,NaN,1.0,259.0,102.0,2024.0,1.0,54.0,16.0,40024.0,0.001116

In [22]:
# Score Total
data_mdt['score'].hist(bins=30, ec='black');

In [23]:
# # Total
# data_mdt['decil'] = np.where(data_mdt['score'] <= 0.000032, 5,
#                                 np.where(data_mdt['score'] <= 0.000148, 4,
#                                         np.where(data_mdt['score'] <= 0.000606, 3,
#                                                 np.where(data_mdt['score'] <= 0.003575, 2, 1))))

In [24]:
# data_mdt['decil'].value_counts(normalize=True).sort_index()

In [25]:
# Test
data_mdt['decil'] = np.where(data_mdt['score'] <= 0.000030, 5,
                                np.where(data_mdt['score'] <= 0.000082, 4,
                                        np.where(data_mdt['score'] <= 0.000208, 3,
                                                np.where(data_mdt['score'] <= 0.000804, 2, 1))))

In [26]:
data_mdt['decil'].value_counts(normalize=True).sort_index()

1    0.192724
2    0.200297
3    0.190318
4    0.208224
5    0.208437
Name: decil, dtype: float64

In [27]:
# Grupos Probabilidad
data_mdt['grupo_prob'] = np.where(data_mdt['decil'] <= 3, 'grupo_prob_alta', 'grupo_prob_baja')

In [28]:
data_mdt.head()

,tipo_identificacion,numero_identificacion,sa21s,re20s,tel20s,sum_tx_linea_pasv,at35af,num_tx_ult_1mes_ahr,all255,pasv_dias_desde_ultima_trans,ul27s,at20sf,rt20s,at28af,bc02s,dm001,br01s,agg214,score,decil,grupo_prob
id_cliente,,,,,,,,,,,,,,,,,,,,,
101052313683385701,1,39713759,10.0,99.0,27.0,NaN,1188.0,NaN,212.0,NaN,1.0,99.0,92.0,5406.0,3.0,60.0,2.0,4219.0,0.000099,3,grupo_prob_alta
101156961048576102,1,10490048,28.0,161.0,90.0,NaN,35726.0,NaN,9923.0,NaN,2.0,161.0,NaN,317119.0,0.0,45.0,18.0,8437.0,0.000287,2,grupo_prob_alta
101355361933973101,1,14676055,16.0,166.0,NaN,NaN,NaN,NaN,0.0,111.0,NaN,166.0,166.0,NaN,NaN,38.0,0.0,NaN,0.000024,5,grupo_prob_baja
101452313695921001,1,51995622,33.0,80.0,33.0,NaN,19920.0,NaN,9316.0,NaN,2.0,174.0,54.0,64582.0,1.0,53.0,1.0,63104.0,0.002196,1,grupo_prob_alta
101452315947082501,1,43505805,92.0,259.0,94.0,NaN,556.0,NaN,367.0,NaN,1.0,259.0,102.0,2024.0,1.0,54.0,16.0,40024.0,0.001116,1,grupo_prob_alta

In [29]:
data_mdt.reset_index(inplace=True)

## Cargando bases piloto

In [2]:
## Cargando bases parquet
path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_mkd_pilotoSep_M20200826' 

base_mkd = pd.read_parquet(path, engine= 'pyarrow')


path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_preaprobados_pilotoSep_M20200826' 

base_pre_contr = pd.read_parquet(path, engine= 'pyarrow')


path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_perfilados_pilotoSep_M20200826' 

base_perf_contr = pd.read_parquet(path, engine= 'pyarrow')


path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_altaprob_pilotoSep_M20200826' 

base_alta_prob = pd.read_parquet(path, engine= 'pyarrow')


path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_bajaprob_pilotoSep_M20200826' 

base_baja_prob = pd.read_parquet(path, engine= 'pyarrow')

In [3]:
## MKD
base_mkd['GRUPO_PILOT'] = np.where((base_mkd['GRUPO_PROB'] == 'grupo_prob_alta') & (base_mkd['SEGMENTO'] == 'seg_preaprobado'), 'grupo_mkd_preaprob_alta',
                                   np.where((base_mkd['GRUPO_PROB'] == 'grupo_prob_alta') & (base_mkd['SEGMENTO'] == 'seg_perfilado'), 'grupo_mkd_perf_alta',
                                            np.where((base_mkd['GRUPO_PROB'] == 'grupo_prob_baja') & (base_mkd['SEGMENTO'] == 'seg_preaprobado'), 'grupo_mkd_preaprob_baja',
                                                   np.where((base_mkd['GRUPO_PROB'] == 'grupo_prob_baja') & (base_mkd['SEGMENTO'] == 'seg_perfilado'), 'grupo_mkd_perf_baja',
                                                            'NA'
                                  ))))
## PREAPROBADOS CONTROL
base_pre_contr['GRUPO_PILOT'] = np.where((base_pre_contr['GRUPO_PROB'] == 'grupo_prob_alta') & (base_pre_contr['SEGMENTO'] == 'seg_preaprobado'), 'grupo_control_preaprob_alta',
                                            np.where((base_pre_contr['GRUPO_PROB'] == 'grupo_prob_baja') & (base_pre_contr['SEGMENTO'] == 'seg_preaprobado'), 'grupo_control_preaprob_baja',
                                                            'NA'
                                  ))
## PERFILADOS CONTROL
base_perf_contr['GRUPO_PILOT'] =          np.where((base_perf_contr['GRUPO_PROB'] == 'grupo_prob_alta') & (base_perf_contr['SEGMENTO'] == 'seg_perfilado'), 'grupo_control_perf_alta',
                                                   np.where((base_perf_contr['GRUPO_PROB'] == 'grupo_prob_baja') & (base_perf_contr['SEGMENTO'] == 'seg_perfilado'), 'grupo_control_perf_baja',
                                                            'NA' 
                                                            ))
## GRUPO ALTA PROB
base_alta_prob['GRUPO_PILOT'] = np.where((base_alta_prob['GRUPO_PROB'] == 'grupo_prob_alta') & (base_alta_prob['SEGMENTO'] == 'seg_preaprobado'), 'grupo_tratm_preaprob_alta',
                                   np.where((base_alta_prob['GRUPO_PROB'] == 'grupo_prob_alta') & (base_alta_prob['SEGMENTO'] == 'seg_perfilado'), 'grupo_tratm_perf_alta',
                                                            'NA'
                                  ))
## GRUPO BAJA PROB
base_baja_prob['GRUPO_PILOT'] = np.where((base_baja_prob['GRUPO_PROB'] == 'grupo_prob_baja') & (base_baja_prob['SEGMENTO'] == 'seg_preaprobado'), 'grupo_tratm_preaprob_baja',
                                                   np.where((base_baja_prob['GRUPO_PROB'] == 'grupo_prob_baja') & (base_baja_prob['SEGMENTO'] == 'seg_perfilado'), 'grupo_tratm_perf_baja',
                                                            'NA'
                                  ))

In [4]:
base_total = pd.concat([base_mkd,base_pre_contr,base_perf_contr,base_alta_prob,base_baja_prob], ignore_index=True)

In [5]:
base_total['GRUPO_PILOT'].value_counts()

grupo_tratm_preaprob_baja      3581
grupo_mkd_perf_alta            3525
grupo_control_preaprob_baja    3515
grupo_mkd_perf_baja            2494
grupo_control_perf_alta        2239
grupo_tratm_perf_alta          2136
grupo_control_preaprob_alta    2056
grupo_tratm_preaprob_alta      1914
grupo_mkd_preaprob_baja        1619
grupo_control_perf_baja        1595
grupo_tratm_perf_baja          1576
grupo_mkd_preaprob_alta         815
Name: GRUPO_PILOT, dtype: int64

In [6]:
base_total.shape

(27065, 7)

# Guardando base Total Final

In [71]:
# Guardando base Total Final

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/muestra_PilotoGruposTotal'

base_total.to_parquet(path, engine='pyarrow')

# Cargando base Total Final

In [31]:
# Guardando base Total Final

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/muestra_PilotoGruposTotal'

base_total = pd.read_parquet(path, engine='pyarrow')
base_total.columns = base_total.columns.str.lower()

print(base_total.shape)

(27065, 7)

In [32]:
base_total.head()

,tipo_identificacion,numero_identificacion,grupo_prob,segmento,score,decil,grupo_pilot
0,1,41498587,grupo_prob_alta,seg_preaprobado,0.128191,5.0,grupo_mkd_preaprob_alta
1,1,39779336,grupo_prob_alta,seg_preaprobado,0.047833,4.0,grupo_mkd_preaprob_alta
2,1,39005220,grupo_prob_baja,seg_preaprobado,0.013017,2.0,grupo_mkd_preaprob_baja
3,1,24143623,grupo_prob_baja,seg_preaprobado,0.011918,1.0,grupo_mkd_preaprob_baja
4,1,10165171,grupo_prob_baja,seg_preaprobado,0.017673,2.0,grupo_mkd_preaprob_baja

In [33]:
base_total['grupo_pilot'].value_counts()

grupo_tratm_preaprob_baja      3581
grupo_mkd_perf_alta            3525
grupo_control_preaprob_baja    3515
grupo_mkd_perf_baja            2494
grupo_control_perf_alta        2239
grupo_tratm_perf_alta          2136
grupo_control_preaprob_alta    2056
grupo_tratm_preaprob_alta      1914
grupo_mkd_preaprob_baja        1619
grupo_control_perf_baja        1595
grupo_tratm_perf_baja          1576
grupo_mkd_preaprob_alta         815
Name: grupo_pilot, dtype: int64

In [45]:
data_mdt.reset_index(inplace=True)
base_total.reset_index(inplace=True)

In [46]:
data_mdt.dtypes

tipo_identificacion               int64
numero_identificacion            object
id_cliente                       object
sa21s                           float64
re20s                           float64
tel20s                          float64
sum_tx_linea_pasv               float64
at35af                          float64
num_tx_ult_1mes_ahr             float64
all255                          float64
pasv_dias_desde_ultima_trans    float64
ul27s                           float64
at20sf                          float64
rt20s                           float64
at28af                          float64
bc02s                           float64
dm001                           float64
br01s                           float64
agg214                          float64
score                           float32
decil                             int64
grupo_prob                       object
dtype: object

In [42]:
base_total.dtypes

tipo_identificacion        int64
numero_identificacion      int64
grupo_prob                object
segmento                  object
score                    float32
decil                    float64
grupo_pilot               object
dtype: object

In [47]:
data_mdt['numero_identificacion'] = data_mdt['numero_identificacion'].astype('int')

data_mdt.set_index(['tipo_identificacion', 'numero_identificacion'], inplace=True)
base_total.set_index(['tipo_identificacion', 'numero_identificacion'], inplace=True)

cols = ['sa21s','re20s','tel20s','sum_tx_linea_pasv','at35af','num_tx_ult_1mes_ahr','all255',
        'pasv_dias_desde_ultima_trans','ul27s','at20sf','rt20s','at28af','bc02s','dm001','br01s','agg214']

data_final = base_total.join(data_mdt[cols], how='left')

In [48]:
data_final = data_final[data_final['segmento']=='seg_perfilado']

In [49]:
data_final.count()

grupo_prob                      13589
segmento                        13589
score                           13589
decil                           13589
grupo_pilot                     13589
sa21s                           13194
re20s                           11582
tel20s                          11674
sum_tx_linea_pasv                4863
at35af                          11337
num_tx_ult_1mes_ahr              4892
all255                          11527
pasv_dias_desde_ultima_trans     5971
ul27s                           11430
at20sf                          12986
rt20s                            9632
at28af                          11339
bc02s                           10793
dm001                           13558
br01s                           13276
agg214                          10995
dtype: int64

In [50]:
data_final.head()

                                                grupo_prob       segmento  \
tipo_identificacion numero_identificacion
1                   124033                 grupo_prob_alta  seg_perfilado
                    130354                 grupo_prob_baja  seg_perfilado
                    137820                 grupo_prob_baja  seg_perfilado
                    162580                 grupo_prob_baja  seg_perfilado
                    186804                 grupo_prob_alta  seg_perfilado

                                              score  decil  \
tipo_identificacion numero_identificacion
1                   124033                 0.003892    1.0
                    130354                 0.000001    5.0
                    137820                 0.000002    5.0
                    162580                 0.000077    4.0
                    186804                 0.000585    2.0

                                                       grupo_pilot  sa21s  \
tipo_identificacion numero_identificacion
1                   124033                   grupo_tratm_perf_alta   12.0
                    130354                     grupo_mkd_perf_baja    NaN
                    137820                 grupo_control_perf_baja    NaN
                    162580                 grupo_control_perf_baja   55.0
                    186804                 grupo_control_perf_alta   14.0

                                           re20s  tel20s  sum_tx_linea_pasv  \
tipo_identificacion numero_identificacion
1                   124033                 156.0   182.0                NaN
                    130354                   NaN     NaN                NaN
                    137820                   NaN     NaN                NaN
                    162580                 571.0    49.0                NaN
                    186804                 272.0    44.0                8.0

                                           at35af  num_tx_ult_1mes_ahr  \
tipo_identificacion numero_identificacion
1                   124033                   38.0                  NaN
                    130354                    NaN                  NaN
                    137820                    NaN                  NaN
                    162580                  148.0                  NaN
                    186804                 4474.0                10.25

                                           all255  \
tipo_identificacion numero_identificacion
1                   124033                  440.0
                    130354                    NaN
                    137820                    NaN
                    162580                 4181.0
                    186804                 2184.0

                                           pasv_dias_desde_ultima_trans  \
tipo_identificacion numero_identificacion
1                   124033                                          7.0
                    130354                                       3792.0
                    137820                                          8.0
                    162580                                          NaN
                    186804                                          7.0

                                           ul27s  at20sf  rt20s   at28af  \
tipo_identificacion numero_identificacion
1                   124033                   3.0   157.0    NaN  31550.0
                    130354                   NaN     NaN    NaN      NaN
                    137820                   NaN     NaN    NaN      NaN
                    162580                   6.0   571.0  185.0  86200.0
                    186804                   4.0   272.0  170.0  28902.0

                                           bc02s  dm001  br01s   agg214
tipo_identificacion numero_identificacion
1                   124033                   1.0   86.0    6.0  58025.0
                    130354                   NaN   87.0    NaN      NaN
                    137820                   NaN   86.0    NaN      NaN
                    162580                   1.0   85.0   13.0  86200.0
                    186804                   1.0   67.0    3.0  21659.0

In [51]:
# Guardando base Perfilados

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_PilotoPerfVars'

data_final.reset_index().to_parquet(path, engine='pyarrow')

## Cargando bases tipificaciones

In [2]:
# Guardando base Perfilados

path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_PilotoPerfVars'

data_final = pd.read_parquet(path, engine='pyarrow')

## Cargando bases tipificaciones

In [3]:
# base_tip = pd.read_parquet('s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_tipificaciones_sept', engine='pyarrow')
# print(base_tip.shape)

# base_tip.head()

(10065, 29)

,tipo_identificacion,numero_identificacion,grupo_prob,segmento,score,decil,grupo_pilot,sa21s,re20s,tel20s,sum_tx_linea_pasv,at35af,num_tx_ult_1mes_ahr,all255,pasv_dias_desde_ultima_trans,ul27s,at20sf,rt20s,at28af,bc02s,dm001,br01s,agg214,CEDULA,CAMPAÑA,ESTRUCTURA,TIPIFICACIÓN_1,TIPIFICACIÓN_2,Vendors
0,1,124033,grupo_prob_alta,seg_perfilado,0.003892,1.0,grupo_tratm_perf_alta,12.0,156.0,182.0,NaN,38.0,NaN,440.0,7.0,3.0,157.0,NaN,31550.0,1.0,86.0,6.0,58025.0,124033.0,Banco Popular Perfilado Activo,ESTRUCTURA PERFILADO ACTIVO,NO CONTACTO,None,Atento
1,1,124033,grupo_prob_alta,seg_perfilado,0.003892,1.0,grupo_tratm_perf_alta,12.0,156.0,182.0,NaN,38.0,NaN,440.0,7.0,3.0,157.0,NaN,31550.0,1.0,86.0,6.0,58025.0,124033.0,Banco Popular Perfilado Activo,ESTRUCTURA PERFILADO ACTIVO,NO CONTACTO,None,Atento
2,1,124033,grupo_prob_alta,seg_perfilado,0.003892,1.0,grupo_tratm_perf_alta,12.0,156.0,182.0,NaN,38.0,NaN,440.0,7.0,3.0,157.0,NaN,31550.0,1.0,86.0,6.0,58025.0,124033.0,Banco Popular Perfilado Activo,ESTRUCTURA PERFILADO ACTIVO,NO CONTACTO,None,Atento
3,1,124033,grupo_prob_alta,seg_perfilado,0.003892,1.0,grupo_tratm_perf_alta,12.0,156.0,182.0,NaN,38.0,NaN,440.0,7.0,3.0,157.0,NaN,31550.0,1.0,86.0,6.0,58025.0,124033.0,Banco Popular Perfilado Activo,ESTRUCTURA PERFILADO ACTIVO,NO CONTACTO,None,Atento
4,1,124033,grupo_prob_alta,seg_perfilado,0.003892,1.0,grupo_tratm_perf_alta,12.0,156.0,182.0,NaN,38.0,NaN,440.0,7.0,3.0,157.0,NaN,31550.0,1.0,86.0,6.0,58025.0,124033.0,Banco Popular Perfilado Activo,ESTRUCTURA PERFILADO ACTIVO,NO CONTACTO,None,Atento

In [22]:
#base_tip.to_csv('s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_tipificaciones_sept.csv', sep=';', index=False)

In [7]:
base_tip = pd.read_csv('s3://adl-refined-dev-popular/data_orig/tmp/tmpg_Info_Tipificaciones.csv', sep=';', encoding='latin-1', decimal=',')
print(base_tip.shape)

base_tip.head()

(17978, 6)

,CC,CANAL,CAMPAÑA,BASE ADL,TIPIFICACIÓN_1,TIPIFICACIÓN_2
0,124.033,Atento,PERFILADOS,ALTA PROBABILIDAD,NO INTERESADO,Ya tiene otra tarjeta
1,137.820,Atento,PERFILADOS,PERFILADOS CONTROL,NaN,NaN
2,162.580,Project,PERFILADOS,PERFILADOS CONTROL,No desea mas deudas LD/TDC,NaN
3,179.592,Atento,PREAPROBADOS,BAJA PROBABILIDAD,NO INTERESADO,No brinda informacion o Cuelga llamada
4,186.804,Atento,PERFILADOS,PERFILADOS CONTROL,NO EFECTIVO,Telefono equivocado

In [16]:
data_final.dtypes

tipo_identificacion               int64
numero_identificacion             int64
grupo_prob                       object
segmento                         object
score                           float32
decil                           float64
grupo_pilot                      object
sa21s                           float64
re20s                           float64
tel20s                          float64
sum_tx_linea_pasv               float64
at35af                          float64
num_tx_ult_1mes_ahr             float64
all255                          float64
pasv_dias_desde_ultima_trans    float64
ul27s                           float64
at20sf                          float64
rt20s                           float64
at28af                          float64
bc02s                           float64
dm001                           float64
br01s                           float64
agg214                          float64
dtype: object

In [11]:
base_tip['CC'] = base_tip['CC'].str.replace('.','').fillna('-999').astype('int')

In [13]:
data_final.columns

Index(['tipo_identificacion', 'numero_identificacion', 'grupo_prob',
       'segmento', 'score', 'decil', 'grupo_pilot', 'sa21s', 're20s', 'tel20s',
       'sum_tx_linea_pasv', 'at35af', 'num_tx_ult_1mes_ahr', 'all255',
       'pasv_dias_desde_ultima_trans', 'ul27s', 'at20sf', 'rt20s', 'at28af',
       'bc02s', 'dm001', 'br01s', 'agg214'],
      dtype='object')

In [17]:
base_tip = base_tip.rename(columns={'CC':'numero_identificacion'})

base_tip.set_index('numero_identificacion', inplace=True)
data_final.set_index('numero_identificacion', inplace=True)

In [18]:
base_tipF = base_tip.join(data_final, how='left')

print(base_tipF.shape)
base_tipF.head()

(17999, 27)

,CANAL,CAMPAÑA,BASE ADL,TIPIFICACIÓN_1,TIPIFICACIÓN_2,tipo_identificacion,grupo_prob,segmento,score,decil,grupo_pilot,sa21s,re20s,tel20s,sum_tx_linea_pasv,at35af,num_tx_ult_1mes_ahr,all255,pasv_dias_desde_ultima_trans,ul27s,at20sf,rt20s,at28af,bc02s,dm001,br01s,agg214
numero_identificacion,,,,,,,,,,,,,,,,,,,,,,,,,,,
-999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124033,Atento,PERFILADOS,ALTA PROBABILIDAD,NO INTERESADO,Ya tiene otra tarjeta,1.0,grupo_prob_alta,seg_perfilado,0.003892,1.0,grupo_tratm_perf_alta,12.0,156.0,182.0,NaN,38.0,NaN,440.0,7.0,3.0,157.0,NaN,31550.0,1.0,86.0,6.0,58025.0
137820,Atento,PERFILADOS,PERFILADOS CONTROL,NaN,NaN,1.0,grupo_prob_baja,seg_perfilado,0.000002,5.0,grupo_control_perf_baja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,86.0,NaN,NaN
162580,Project,PERFILADOS,PERFILADOS CONTROL,No desea mas deudas LD/TDC,NaN,1.0,grupo_prob_baja,seg_perfilado,0.000077,4.0,grupo_control_perf_baja,55.0,571.0,49.0,NaN,148.0,NaN,4181.0,NaN,6.0,571.0,185.0,86200.0,1.0,85.0,13.0,86200.0
179592,Atento,PREAPROBADOS,BAJA PROBABILIDAD,NO INTERESADO,No brinda informacion o Cuelga llamada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
## reset index
base_tipF.reset_index(inplace=True)

In [20]:
## Save file
base_tipF.to_csv('s3://adl-refined-dev-popular/data_orig/tmp/Tipificaciones_vrs_perf.csv', sep=';', index=False)

In [20]:
base_tip[base_tip['TIPIFICACIÓN_2'].isnull()]['TIPIFICACIÓN_1'].value_counts()

NO CONTACTO    2376
Name: TIPIFICACIÓN_1, dtype: int64

In [9]:
base_tip['numero_identificacion'].nunique()

7536

In [13]:
base_tip['cruzo'] = (base_tip['CEDULA'].notnull()).astype('int')

In [14]:
base_cont = base_tip.groupby('numero_identificacion')['cruzo'].max()
base_cont.value_counts()

1    4874
0    2662
Name: cruzo, dtype: int64

In [17]:
4874/(4874 + 2662)

0.6467622080679406

In [12]:
base_tip.count()

tipo_identificacion             10065
numero_identificacion           10065
grupo_prob                      10065
segmento                        10065
score                           10065
decil                           10065
grupo_pilot                     10065
sa21s                            9718
re20s                            8542
tel20s                           8613
sum_tx_linea_pasv                3533
at35af                           8396
num_tx_ult_1mes_ahr              3553
all255                           8519
pasv_dias_desde_ultima_trans     4398
ul27s                            8476
at20sf                           9635
rt20s                            7136
at28af                           8397
bc02s                            7943
dm001                           10030
br01s                            9811
agg214                           8130
CEDULA                           7389
CAMPAÑA                          7389
ESTRUCTURA                       5860
TIPIFICACIÓN_1                   7381
TIPIFICACIÓN_2                   5005
Vendors                          7389
dtype: int64

In [6]:
base_tip['grupo_pilot'].value_counts()

grupo_tratm_perf_alta      2903
grupo_control_perf_alta    2898
grupo_control_perf_baja    2139
grupo_tratm_perf_baja      2125
Name: grupo_pilot, dtype: int64

In [11]:
base_tip['TIPIFICACIÓN_1'].value_counts()

NO CONTACTO          4024
NO INTERESADO        1884
NO EFECTIVO           903
VOLVER A LLAMAR       253
VENTA NO EFECTIVA     177
FALLAS                 71
NO APLICA              64
VENTA EFECTIVA          5
Name: TIPIFICACIÓN_1, dtype: int64

In [8]:
base_tip['TIPIFICACIÓN_1'].value_counts(normalize=True)

NO CONTACTO          0.545184
NO INTERESADO        0.255250
NO EFECTIVO          0.122341
VOLVER A LLAMAR      0.034277
VENTA NO EFECTIVA    0.023980
FALLAS               0.009619
NO APLICA            0.008671
VENTA EFECTIVA       0.000677
Name: TIPIFICACIÓN_1, dtype: float64

In [10]:
pd.crosstab(base_tip['grupo_pilot'],base_tip['TIPIFICACIÓN_1'])

TIPIFICACIÓN_1,FALLAS,NO APLICA,NO CONTACTO,NO EFECTIVO,NO INTERESADO,VENTA EFECTIVA,VENTA NO EFECTIVA,VOLVER A LLAMAR
grupo_pilot,,,,,,,,
grupo_control_perf_alta,16,15,1046,284,554,2,38,62
grupo_control_perf_baja,14,10,805,197,382,0,27,55
grupo_tratm_perf_alta,25,24,1228,225,509,3,61,89
grupo_tratm_perf_baja,16,15,945,197,439,0,51,47

In [16]:
pd.crosstab(base_tip['TIPIFICACIÓN_2'],base_tip['grupo_pilot'])

grupo_pilot,grupo_control_perf_alta,grupo_control_perf_baja,grupo_tratm_perf_alta,grupo_tratm_perf_baja
TIPIFICACIÓN_2,,,,
adl no aprobado (polticas no viable),12,7,26,18
adl - ya tiene producto aprobado,0,0,2,1
buzon de voz,28,38,20,47
cliente fuera de la ciudad- pais,1,3,1,3
cliente o desea ser contactado de nuevo,1,0,0,0
cliente se dirige a la oficina,18,13,16,12
cobertura geografica,2,1,1,0
credito en tramite,6,2,3,3
credito reciente otro banco,6,6,5,3
cuota de manejo alta,2,0,1,0
desconfia de la llamada,1,1,1,0
desea mayor monto,3,2,1,0
desea otro tipo de credito,3,0,1,0
desempleado,7,6,11,8
fallecido,0,1,2,0
ilocalizado,20,5,14,25
incapacidad fisica,0,0,1,2
interesado cliente se dirige a la oficina,3,4,9,9
interesado mas adelante,56,51,73,41
libre destino compra de cartera,1,0,0,0
libre inversion,1,0,0,0
linea inhabilitada,32,25,86,59
linea ocupada,79,50,84,42
llamada caida,10,8,19,12
llamada intermitencia,0,2,1,1
llamada muda,6,4,5,3
mala experiencia con el banco,10,9,16,4
mensaje con tercero,54,48,50,37
mensaje contestador,17,10,46,18
molesto por llamadas frecuentes,7,4,5,5
no autoriza tratamiento de datos,9,3,10,3
no brinda informacion o cuelga llamada,100,55,84,77
no contesta,213,154,280,256
no cumple edad,0,0,0,2
no cumple perfil - actividad economica,1,2,3,0
no cumple perfil - antigüedad laboral,1,0,0,2
no cumple perfil - cliente reportado,1,3,5,6
no cumple perfil - ingresos,8,7,14,15
no cumple perfil - no cuenta con documentos,0,0,1,0
no cumple perfil - politica,0,0,4,1
no desea mas deudas,397,292,361,321
no desea volver a ser contactado,0,0,3,0
no le gustan las tdc,16,9,24,18
no se lo permite un tercero,5,1,3,6
no vive / no trabaja,2,2,3,7
preselecta no viable - habitos,1,1,0,0
preselecta no viable - politica,14,7,5,8
tasa de interes,0,0,1,1
telefono equivocado,193,126,150,125
venta efectiva - visa,0,0,3,0
ya tiene otra tarjeta,13,5,12,11

In [7]:
base_tip['TIPIFICACIÓN_2'].value_counts(normalize=True)

no desea mas deudas                            0.273926
no contesta                                    0.180420
telefono equivocado                            0.118681
no brinda informacion o cuelga llamada         0.063137
linea ocupada                                  0.050949
interesado mas adelante                        0.044156
linea inhabilitada                             0.040360
mensaje con tercero                            0.037762
buzon de voz                                   0.026573
mensaje contestador                            0.018182
no le gustan las tdc                           0.013387
ilocalizado                                    0.012787
adl  no aprobado (polticas  no viable)         0.012587
cliente se dirige a la oficina                 0.011788
llamada caida                                  0.009790
no cumple perfil - ingresos                    0.008791
ya tiene otra tarjeta                          0.008192
mala experiencia con el banco                  0.007792
preselecta no viable - politica                0.006793
desempleado                                    0.006394
interesado cliente se dirige a la oficina      0.004995
no autoriza tratamiento de datos               0.004995
molesto por llamadas frecuentes                0.004196
credito reciente otro banco                    0.003996
llamada muda                                   0.003596
no cumple perfil - cliente reportado           0.002997
no se lo permite un tercero                    0.002997
no vive / no trabaja                           0.002797
credito en tramite                             0.002797
cliente fuera de la ciudad- pais               0.001598
desea mayor monto                              0.001199
no cumple perfil - actividad economica         0.001199
no cumple perfil - politica                    0.000999
llamada intermitencia                          0.000799
cobertura geografica                           0.000799
desea otro tipo de credito                     0.000799
no desea volver a ser contactado               0.000599
venta efectiva - visa                          0.000599
adl - ya tiene producto aprobado               0.000599
desconfia de la llamada                        0.000599
incapacidad fisica                             0.000599
no cumple perfil - antigüedad laboral          0.000599
cuota de manejo alta                           0.000599
fallecido                                      0.000599
preselecta no viable - habitos                 0.000400
no cumple edad                                 0.000400
tasa de interes                                0.000400
libre inversion                                0.000200
no cumple perfil - no cuenta con documentos    0.000200
cliente o desea ser contactado de nuevo        0.000200
libre destino compra de cartera                0.000200
Name: TIPIFICACIÓN_2, dtype: float64

## Cruce Variables perf con Tipificaciones

In [ ]:
data_tip

In [23]:
path = 's3://data-bpop-dev-sandbox-de/campana_mkd/click_to_call/clic_to_call_detalle_H20200901_20201018.csv'

data = pd.read_csv(path, encoding='latin-1')
data.head()

,date,numero_identificacion,total_tarjetas,channel,grupo_prob,segmento,channel_modificado
0,2020-10-07,10159126,1,atento,grupo_prob_baja,seg_preaprobado,atento
1,2020-09-21,10159462,1,oficina,grupo_prob_alta,seg_preaprobado,oficina
2,2020-10-06,10214423,1,atento,grupo_prob_baja,seg_preaprobado,atento
3,2020-10-16,10347708,1,atento,grupo_prob_alta,seg_preaprobado,atento
4,2020-10-09,10530015,1,atento,grupo_prob_alta,seg_preaprobado,atento

### Edad

In [2]:
## Cargando mdm Identf

path = 's3://adl-refined-dev-popular/data_orig/tmp/clientes_identificacion_mdm_D20200910.txt'

data_iden = pd.read_csv(path, sep='|', encoding='latin-1', dtype={'CONT_ID':str,'ref_num':str,'id_tp_cd':str})
data_iden.columns = data_iden.columns.str.lower()

print(data_iden.shape)
data_iden.head()

/home/jupyter/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3996877, 9)

,cont_id,ref_num,id_tp_cd,id_tp_ds,issue_location,issue_dt,issue_country_tp_cd,issue_country_tp_ds,nit_check_digit
0,101052310858765202,1075218670,1000003,NaN,NEIVA (41001000),23/02/2005 00:00:00,1000037.0,Colombia,NaN
1,101052312019433501,12105262,1000003,NaN,NEIVA (41001000),23/08/1974 00:00:00,1000037.0,Colombia,NaN
2,101052312545481002,88237010,1000003,NaN,CÃCUTA (54001000),13/05/1997 00:00:00,1000037.0,Colombia,NaN
3,101052314539787301,80062587,1000003,NaN,"BOGOTÃ, D.C. (11001000)",16/05/1997 00:00:00,1000037.0,Colombia,NaN
4,101052317807663602,12117667,1000003,NaN,NEIVA (41001000),08/06/1979 00:00:00,1000037.0,Colombia,NaN

In [3]:
data_iden = data_iden[(data_iden['cont_id'].notnull())]
data_iden['cont_id'] = data_iden['cont_id'].astype(np.int64)

data_iden = data_iden.rename(columns={'cont_id':'id_cliente'})
data_iden = data_iden.set_index('id_cliente')

In [4]:
## Cargando mdm Person

path = 's3://adl-refined-dev-popular/data_orig/tmp/clientes_persona_mdm_D20201005.txt'

data_person = pd.read_csv(path, sep='|', encoding='latin-1', dtype={'CONT_ID':str})
data_person.columns = data_person.columns.str.lower()

print(data_person.shape)
data_person.head()

/home/jupyter/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6,18,34,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(3945832, 67)

,cont_id,client_st_tp_cd,client_st_tp_ds,source_ident_tp_cd,source_ident_tp_ds,since_dt,left_dt,marital_st_tp_cd,marital_st_tp_ds,birthplace_tp_cd,birthplace_tp_ds,highest_edu_tp_cd,highest_edu_tp_ds,gender_tp_code,birth_dt,children_ct,cust_last_up_dt,crs_tp_cd,crs_tp_ds,pep_tp_cd,pep_tp_ds,fiscall_respon_ind,birth_city_tp_cd,birth_city_tp_ds,birth_state_tp_cd,birth_state_tp_ds,profession_tp_cd,profession_tp_ds,occupation_tp_cd,occupation_tp_ds,housing_tp_cd,housing_tp_ds,inc_tax_decl_ind,disability_tp_cd,disability_tp_ds,disability_st_tp_cd,disability_st_tp_ds,vinculation_tp_cd,vinculation_tp_ds,job_contract_tp_cd,job_contract_tp_ds,employee_class_tp_cd,employee_class_tp_ds,employment_st_dt,sector_cat_tp_cd,sector_cat_tp_ds,sub_sector_tp_cd,sub_sector_tp_ds,last_salary,sinister_tp_cd,sinister_tp_ds,pension_tp_cd,pension_tp_ds,pension_mode_tp_cd,pension_mode_tp_ds,ciiu_tp_cd,ciiu_tp_ds,prefix_name_tp_cd,prefix_name_tp_ds,given_name_one,given_name_two,given_name_four,last_name,name_usage_tp_cd,name_usage_tp_ds,generation_tp_cd,generation_tp_ds
0,101052294884460201,1010000.0,A-Cliente Activo,1020001,CRM-PS,24/11/1997 00:00:00,NaN,1000001.0,Casado(a),1000037.0,Colombia,1000006.0,EspecializaciÃ³n,M,28/01/1954 00:00:00,1.0,09/04/2020 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,141799000.0,TELLO (41799000),1000041.0,Huila,1000999.0,NO TIENE PROFESION,1000006.0,Pensionado,1000001.0,Propia,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1000010.0,Asalariados,1000014.0,Sr.,HECTOR,NaN,CARDENAS,PERDOMO,1,Legal,NaN,NaN
1,101052312315900401,1010000.0,A-Cliente Activo,1020001,CRM-PS,09/03/2015 00:00:00,NaN,1000007.0,UniÃ³n Libre,1000037.0,Colombia,1000001.0,Primaria,F,25/10/1961 00:00:00,0.0,08/04/2020 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,141524000.0,PALERMO (41524000),1000041.0,Huila,1000999.0,NO TIENE PROFESION,1000004.0,Independiente,1000002.0,Familiar,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,1000001.0,TÃ©rmino Fijo,NaN,NaN,20/03/2006 00:00:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1004771.0,Comercio al por menor de prendas de vestir y s...,NaN,NaN,YINETH,NaN,MORENO,PASTRANA,1,Legal,NaN,NaN
2,101052316151773802,1020000.0,I-Cliente Inactivo,1020001,CRM-PS,15/12/2014 00:00:00,NaN,1000001.0,Casado(a),1000037.0,Colombia,1000003.0,TÃ©cnico Profesional,M,27/07/1969 00:00:00,0.0,30/03/2019 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,168770000.0,SUAITA (68770000),1000068.0,Santander,1000999.0,NO TIENE PROFESION,1000004.0,Independiente,1000002.0,Familiar,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,1000001.0,TÃ©rmino Fijo,NaN,NaN,15/12/2014 00:00:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1004911.0,Transporte fÃ©rreo de pasajeros,NaN,NaN,ISRAEL,NaN,QUINTERO,BUITRAGO,1,Legal,NaN,NaN
3,101052316742041602,1010000.0,A-Cliente Activo,1020001,CRM-PS,12/07/2014 00:00:00,NaN,1000007.0,UniÃ³n Libre,1000037.0,Colombia,1000001.0,Primaria,M,29/12/1985 00:00:00,0.0,23/07/2020 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,111001000.0,"BOGOTÃ, D.C. (11001000)",1000011.0,"BogotÃ¡, D. C.",1000999.0,NO TIENE PROFESION,1000004.0,Independiente,1000002.0,Familiar,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,1000001.0,TÃ©rmino Fijo,NaN,NaN,12/07/2014 00:00:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1004663.0,Comercio al por mayor de materiales de constru...,NaN,NaN,WILLIAM,HUMBERTO,MOLANO,MENDEZ,1,Legal,NaN,NaN
4,101052316879999601,1010000.0,A-Cliente Activo,1020001,CRM-PS,11/11/2014 00:00:00,NaN,1000007.0,UniÃ³n Libre,1000037.0,Colombia,1000001.0,Primaria,M,03/12/1985 00:00:00,0.0,11/04/2020 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,111001000.0,"BOGOTÃ, D.C. (11001000)",1000011.0,"BogotÃ¡, D. C.",1000999.0,NO TIENE PROFESION,1000004.0,Independiente,1000002.0,Familiar,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,1000001.0,TÃ©rmino Fijo,NaN,NaN,11/11/2014 00:00:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1004722.0,"Comercio al por menor de leche, productos lÃ¡c...",NaN,NaN,DIEGO,ARLEX,MUNOZ,GALVIS,1,Legal,NaN,NaN

In [5]:
## Modificando base:

data_person = data_person[(data_person['cont_id'].notnull())]
data_person['cont_id'] = data_person['cont_id'].astype(np.int64)

data_person = data_person.rename(columns={'cont_id':'id_cliente'})
data_person = data_person.set_index('id_cliente')
data_person['orden'] = data_person.groupby('id_cliente').cumcount()
data_person = data_person[data_person['orden'] == 0]
data_person = data_person.drop('orden', axis = 1)

## Filtrando por persona Natural
data_person = data_person[data_person['client_st_tp_ds'] == 'A-Cliente Activo']

# Cambiando tipo de dato

data_person['since_dt'] = pd.to_datetime(data_person['since_dt'], dayfirst=True, errors = 'coerce')
data_person['birth_dt'] = pd.to_datetime(data_person['birth_dt'], dayfirst=True, errors = 'coerce')

data_person = data_person.drop_duplicates()

In [6]:
import datetime
# Creando edad:

today = datetime.datetime.now()
## Edad
data_person["edad"] = round((today - data_person["birth_dt"]) / np.timedelta64(365, 'D'),0)

In [7]:
data_person = data_person.join(data_iden[['ref_num','id_tp_cd']], how='left')
data_person = data_person.rename(columns={'ref_num':'NUMERO_IDENTIFICACION','id_tp_cd':'TIPO_IDENTIFICACION'})

In [8]:
data_person = data_person[data_person['NUMERO_IDENTIFICACION'].notnull()]

In [9]:
data_person['NUMERO_IDENTIFICACION'] = data_person['NUMERO_IDENTIFICACION'].astype('str')

In [10]:
data_person = data_person[data_person['NUMERO_IDENTIFICACION'].str.isdigit()]

In [11]:
data_person['NUMERO_IDENTIFICACION'] = data_person['NUMERO_IDENTIFICACION'].astype(np.int64)
data_person['TIPO_IDENTIFICACION'] = data_person['TIPO_IDENTIFICACION'].fillna('-999').astype(np.int64)

In [21]:
data_person.reset_index(inplace=True)

In [26]:
data_person.set_index(['NUMERO_IDENTIFICACION'],inplace=True)

In [15]:
## Cargando bases parquet
path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_mkd_pilotoSep_M20200826' 

base_mkd = pd.read_parquet(path, engine= 'pyarrow')

In [22]:
base_mkd.set_index(['NUMERO_IDENTIFICACION'],inplace=True)
base_mkd.reset_index().dtypes

NUMERO_IDENTIFICACION      int64
TIPO_IDENTIFICACION        int64
GRUPO_PROB                object
SEGMENTO                  object
SCORE                    float32
DECIL                    float64
dtype: object

In [18]:
data_person.reset_index().dtypes

NUMERO_IDENTIFICACION             int64
TIPO_IDENTIFICACION               int64
id_cliente                        int64
client_st_tp_cd                 float64
client_st_tp_ds                  object
source_ident_tp_cd                int64
source_ident_tp_ds               object
since_dt                 datetime64[ns]
left_dt                          object
marital_st_tp_cd                float64
marital_st_tp_ds                 object
birthplace_tp_cd                float64
birthplace_tp_ds                 object
highest_edu_tp_cd               float64
highest_edu_tp_ds                object
gender_tp_code                   object
birth_dt                 datetime64[ns]
children_ct                     float64
cust_last_up_dt                  object
crs_tp_cd                       float64
crs_tp_ds                        object
pep_tp_cd                       float64
pep_tp_ds                        object
fiscall_respon_ind               object
birth_city_tp_cd                float64
birth_city_tp_ds                 object
birth_state_tp_cd               float64
birth_state_tp_ds                object
profession_tp_cd                float64
profession_tp_ds                 object
occupation_tp_cd                float64
occupation_tp_ds                 object
housing_tp_cd                   float64
housing_tp_ds                    object
inc_tax_decl_ind                 object
disability_tp_cd                float64
disability_tp_ds                 object
disability_st_tp_cd             float64
disability_st_tp_ds             float64
vinculation_tp_cd               float64
vinculation_tp_ds                object
job_contract_tp_cd              float64
job_contract_tp_ds               object
employee_class_tp_cd            float64
employee_class_tp_ds            float64
employment_st_dt                 object
sector_cat_tp_cd                float64
sector_cat_tp_ds                float64
sub_sector_tp_cd                float64
sub_sector_tp_ds                float64
last_salary                     float64
sinister_tp_cd                  float64
sinister_tp_ds                  float64
pension_tp_cd                   float64
pension_tp_ds                   float64
pension_mode_tp_cd              float64
pension_mode_tp_ds              float64
ciiu_tp_cd                      float64
ciiu_tp_ds                       object
prefix_name_tp_cd               float64
prefix_name_tp_ds                object
given_name_one                   object
given_name_two                   object
given_name_four                  object
last_name                        object
name_usage_tp_cd                 object
name_usage_tp_ds                 object
generation_tp_cd                float64
generation_tp_ds                float64
edad                            float64
dtype: object

In [27]:
data_person.head()

,TIPO_IDENTIFICACION,id_cliente,client_st_tp_cd,client_st_tp_ds,source_ident_tp_cd,source_ident_tp_ds,since_dt,left_dt,marital_st_tp_cd,marital_st_tp_ds,birthplace_tp_cd,birthplace_tp_ds,highest_edu_tp_cd,highest_edu_tp_ds,gender_tp_code,birth_dt,children_ct,cust_last_up_dt,crs_tp_cd,crs_tp_ds,pep_tp_cd,pep_tp_ds,fiscall_respon_ind,birth_city_tp_cd,birth_city_tp_ds,birth_state_tp_cd,birth_state_tp_ds,profession_tp_cd,profession_tp_ds,occupation_tp_cd,occupation_tp_ds,housing_tp_cd,housing_tp_ds,inc_tax_decl_ind,disability_tp_cd,disability_tp_ds,disability_st_tp_cd,disability_st_tp_ds,vinculation_tp_cd,vinculation_tp_ds,job_contract_tp_cd,job_contract_tp_ds,employee_class_tp_cd,employee_class_tp_ds,employment_st_dt,sector_cat_tp_cd,sector_cat_tp_ds,sub_sector_tp_cd,sub_sector_tp_ds,last_salary,sinister_tp_cd,sinister_tp_ds,pension_tp_cd,pension_tp_ds,pension_mode_tp_cd,pension_mode_tp_ds,ciiu_tp_cd,ciiu_tp_ds,prefix_name_tp_cd,prefix_name_tp_ds,given_name_one,given_name_two,given_name_four,last_name,name_usage_tp_cd,name_usage_tp_ds,generation_tp_cd,generation_tp_ds,edad
NUMERO_IDENTIFICACION,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4942962,1000003,101052294884460201,1010000.0,A-Cliente Activo,1020001,CRM-PS,1997-11-24,NaN,1000001.0,Casado(a),1000037.0,Colombia,1000006.0,EspecializaciÃ³n,M,1954-01-28,1.0,09/04/2020 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,141799000.0,TELLO (41799000),1000041.0,Huila,1000999.0,NO TIENE PROFESION,1000006.0,Pensionado,1000001.0,Propia,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1000010.0,Asalariados,1000014.0,Sr.,HECTOR,NaN,CARDENAS,PERDOMO,1,Legal,NaN,NaN,67.0
13923425,1000003,101052295928775502,1010000.0,A-Cliente Activo,1020001,CRM-PS,1994-01-01,NaN,1000001.0,Casado(a),1000037.0,Colombia,1000001.0,Primaria,M,1964-09-04,3.0,24/09/2020 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,168318000.0,GUACA (68318000),1000068.0,Santander,1000999.0,NO TIENE PROFESION,1000004.0,Independiente,1000001.0,Propia,N,NaN,NaN,NaN,NaN,1000008.0,Presentado por Empleado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1000113.0,"Cultivo de hortalizas, raÃ­ces y tubÃ©rculos",1000014.0,Sr.,RAMIRO,NaN,PENA,CARVAJAL,1,Legal,NaN,NaN,56.0
79134214,1000003,101052303957546801,1010000.0,A-Cliente Activo,1020001,CRM-PS,2000-01-01,NaN,1000001.0,Casado(a),1000037.0,Colombia,1000001.0,Primaria,M,1981-06-13,0.0,17/03/2004 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,NaN,NaN,NaN,NaN,1000999.0,NO TIENE PROFESION,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,1000007.0,Presentado por Cliente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1000010.0,Asalariados,NaN,NaN,JOHN,ALBEIRO,CARDENAS,PEÃA,1,Legal,NaN,NaN,39.0
1081514838,1000003,101052311667206502,1010000.0,A-Cliente Activo,1020001,CRM-PS,2014-09-29,NaN,1000007.0,UniÃ³n Libre,1000037.0,Colombia,1000003.0,TÃ©cnico Profesional,F,1990-12-23,0.0,09/12/2019 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,141791000.0,TARQUI (41791000),1000041.0,Huila,1000999.0,NO TIENE PROFESION,1000003.0,Empleado Privado,1000002.0,Familiar,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,1000002.0,TÃ©rmino Indefinido,NaN,NaN,29/09/2014 00:00:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1000010.0,Asalariados,NaN,NaN,KAREN,PAOLA,ALVARADO,CARVAJAL,1,Legal,NaN,NaN,30.0
12105262,1000003,101052312019433501,1010000.0,A-Cliente Activo,1020001,CRM-PS,2014-10-25,NaN,1000001.0,Casado(a),1000037.0,Colombia,1000001.0,Primaria,M,1952-05-09,0.0,13/02/2018 00:00:00,NaN,NaN,1000001.0,No PEP,NaN,141001000.0,NEIVA (41001000),1000041.0,Huila,1000999.0,NO TIENE PROFESION,1000004.0,Independiente,1000001.0,Propia,N,NaN,NaN,NaN,NaN,1000001.0,CampaÃ±a,1000001.0,TÃ©rmino Fijo,NaN,NaN,25/10/2014 00:00:00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1005111.0,Transporte aÃ©reo nacional de pasajeros,NaN,NaN,LUIS,ALEJANDRO,MORENO,VARGAS,1,Legal,NaN,NaN,69.0

In [28]:
base_mkd.head()

,TIPO_IDENTIFICACION,GRUPO_PROB,SEGMENTO,SCORE,DECIL
NUMERO_IDENTIFICACION,,,,,
41498587,1,grupo_prob_alta,seg_preaprobado,0.128191,5.0
39779336,1,grupo_prob_alta,seg_preaprobado,0.047833,4.0
39005220,1,grupo_prob_baja,seg_preaprobado,0.013017,2.0
24143623,1,grupo_prob_baja,seg_preaprobado,0.011918,1.0
10165171,1,grupo_prob_baja,seg_preaprobado,0.017673,2.0

In [29]:
base_mkdF = base_mkd.join(data_person[['id_cliente','edad']],how='left')
base_mkdF.count()

TIPO_IDENTIFICACION    9227
GRUPO_PROB             9227
SEGMENTO               9227
SCORE                  9131
DECIL                  9131
id_cliente             8604
edad                   8601
dtype: int64

In [35]:
base_mkdF

,NUMERO_IDENTIFICACION,TIPO_IDENTIFICACION,GRUPO_PROB,SEGMENTO,SCORE,DECIL,edad
0,130354,1,grupo_prob_baja,seg_perfilado,0.000001,5.0,87.0
1,176109,1,grupo_prob_baja,seg_preaprobado,0.004219,1.0,80.0
2,176454,1,grupo_prob_baja,seg_preaprobado,0.005977,1.0,64.0
3,179160,1,grupo_prob_baja,seg_preaprobado,0.019772,2.0,56.0
4,194364,1,grupo_prob_alta,seg_preaprobado,0.025081,3.0,66.0
...,...,...,...,...,...,...,...
9222,1127575504,1,grupo_prob_baja,seg_preaprobado,0.008332,1.0,41.0
9223,1130654770,1,grupo_prob_baja,seg_preaprobado,0.020610,2.0,33.0
9224,1130676836,1,grupo_prob_baja,seg_preaprobado,0.004026,1.0,32.0
9225,1143826433,1,grupo_prob_baja,seg_preaprobado,NaN,NaN,31.0
9226,1143846020,1,grupo_prob_baja,seg_preaprobado,0.006521,1.0,28.0

In [34]:
base_mkdF = base_mkdF.drop(columns='id_cliente')

In [31]:
base_mkdF.reset_index(inplace=True)

In [36]:
## Cargando bases parquet
path = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_mkd_pilotoconEdad_M20200826' 
path1 = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_mkd_pilotoconEdad_M20200826.csv' 

base_mkdF.to_parquet(path, engine= 'pyarrow', index=False)
base_mkdF.to_csv(path1, sep='|', encoding='utf-8', index=False)