In [1]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import pandas_profiling
import os
from datetime import datetime, timedelta
import dateutil.relativedelta
import gc

pd.set_option('display.max_columns',None)

In [4]:
# Changing path
os.chdir('/../../../mnt') 
# Transacction Path
input_PATH = 's3-refined-popular/data_orig/transacciones/pasivo/'

In [9]:
file_name = os.path.join(input_PATH,'transacciones_pasivo_aaatr_M201911.csv')
data_tx_tdc = pd.read_csv(file_name,sep=';',encoding='latin-1')
print(data_tx_tdc.shape)
data_tx_tdc.head()

(19856405, 53)

,SK_CLIENTE,ID_CLIENTE,AAATR_ACO_REFERE,AAATR_ACO_TERCER,AAATR_ACO_USUAR,AAATR_DCO_ISPEC,AAATR1_ACO_BANCO,AAATR1_ACO_CAUSA,AAATR1_ACO_CONCE,AAATR1_ACO_JORNA,AAATR1_ACOESTCUE,AAATR1_ACOTIPCUE,AAATR_ACU_OFICI,AAATR_ACU_PRODU,AAATR_ACUDIGVER,AAATR_ACUNUMCUE,AAATR1_ACUOFIDES,AAATR_AFEAPLREL,AAATR1_DCO_OFICI,AAATR1_DCO_TERMI,AAATR1_DCO_TRANS,AAATR1_DCODEBCRE,AAATR1_TCN_DOCUM,AAATR1_TCOMODOPE,AAATR1_TDIAPLANT,AAATR_TFE_OFICI,AAATR_TFE_TRANS,AAATR_TFEINGTRA,AAATR_THO_TRANS,AAATR1_TNU_REVER,AAATR1_TNU_TRANS,AAATR_TNUDOCTRA,AAATR1_TSE_AUTOR,AAATR1_TSE_EXCEP,AAATR1_TSE_REVER,AAATR1_TSE_SUPER,AAATR1_TSEDIAANT,AAATR1_TSELIMEXC,AAATR_TVA_CANUTI,AAATR_TVA_CHEQUE,AAATR_TVA_MOVIM,AAATR_TVA_OTRO1,AAATR_TVA_OTRO2,AAATR_TVACHELOC,AAATR1_ACOTIPVAL,AAATR1_ACOTRAOFI,AAATR1_ANUSECOFI,AAATR1_ASEMOVAUT,AAATR_TFE_EXTRA,AAATR_TFE_REAL,PERIODO,YEAR1,MES1
0,2379555,767952294936433401,,000005548561,RATIVRW/1,AC402,0,300,1,1,1,1,9,110,8,10152,9,20191126,9,934501,514,1,0,0,0,20191126,20191126,20191126,9302643,0,92643,0,0,0,2,0,0,0,"0000000000000,00","0000000000000,00","0000000000005,71","0000000000005,71","0000000000000,00","0000000000000,00",1,0,0,1,20191126,20191126,201911,2019,11
1,2379555,767952294936433401,,000005548561,RATIVRW/1,AC402,0,222,1,1,1,1,9,110,8,10152,9,20191126,9,934501,514,1,0,0,0,20191126,20191126,20191126,9302643,0,92643,0,0,0,2,0,0,0,"0000000000000,00","0000000000000,00","0000000000228,00","0000000000000,00","0000000000000,00","0000000000000,00",2,0,0,1,20191126,20191126,201911,2019,11
2,2379555,767952294936433401,,000005548561,RATIVRW/1,AC402,0,30,1,1,1,1,9,110,8,10152,9,20191126,9,934501,514,1,0,0,0,20191126,20191126,20191126,9302643,0,92643,0,0,0,2,0,0,0,"0000000000000,00","0000000000000,00","0000000001200,00","0000000000000,00","0000000000000,00","0000000000000,00",1,0,0,1,20191126,20191126,201911,2019,11
3,2379555,767952294936433401,0000001205830012,000005548561,1012391077,AC202,12,700,1,1,1,1,9,110,8,10152,9,20191129,933,934211,4,2,0,1,0,20191129,20191129,20191129,16423703,0,816921,120816921,2,0,2,2,2,0,"0000000000000,00","0000000000000,00","0000006505280,00","0000000000000,00","0000000000000,00","0000000000000,00",0,0,6921,1,20191129,20191129,201911,2019,11
4,2379555,767952294936433401,,,1022400543,AC400,0,0,1,1,1,1,9,110,8,10152,9,20191118,65,65102,515,1,0,1,0,20191118,20191118,20191118,11174810,0,207,77668178,0,0,2,2,2,0,"0000000000000,00","0000000000000,00","0000003000000,00","0000000000000,00","0000000000000,00","0000000000000,00",0,0,207,2,20191118,20191118,201911,2019,11

In [12]:
data_tx_tdc.AAATR_ACO_REFERE.value_counts()

000000000000000000    13504305
                       5432116
012                      72165
481                      15975
00108229  00038000       12992
                        ...
  2019112601009841           1
  2019112801007497           1
  2019110101039734           1
111690088041                 1
  2019112701018676           1
Name: AAATR_ACO_REFERE, Length: 508868, dtype: int64

In [32]:
data_tx_tdc[data_tx_tdc["AAATR_ACO_REFERE"]]

Empty DataFrame
Columns: [SK_CLIENTE, ID_CLIENTE, AAATR_ACO_REFERE, AAATR_ACO_TERCER, AAATR_ACO_USUAR, AAATR_DCO_ISPEC, AAATR1_ACO_BANCO, AAATR1_ACO_CAUSA, AAATR1_ACO_CONCE, AAATR1_ACO_JORNA, AAATR1_ACOESTCUE, AAATR1_ACOTIPCUE, AAATR_ACU_OFICI, AAATR_ACU_PRODU, AAATR_ACUDIGVER, AAATR_ACUNUMCUE, AAATR1_ACUOFIDES, AAATR_AFEAPLREL, AAATR1_DCO_OFICI, AAATR1_DCO_TERMI, AAATR1_DCO_TRANS, AAATR1_DCODEBCRE, AAATR1_TCN_DOCUM, AAATR1_TCOMODOPE, AAATR1_TDIAPLANT, AAATR_TFE_OFICI, AAATR_TFE_TRANS, AAATR_TFEINGTRA, AAATR_THO_TRANS, AAATR1_TNU_REVER, AAATR1_TNU_TRANS, AAATR_TNUDOCTRA, AAATR1_TSE_AUTOR, AAATR1_TSE_EXCEP, AAATR1_TSE_REVER, AAATR1_TSE_SUPER, AAATR1_TSEDIAANT, AAATR1_TSELIMEXC, AAATR_TVA_CANUTI, AAATR_TVA_CHEQUE, AAATR_TVA_MOVIM, AAATR_TVA_OTRO1, AAATR_TVA_OTRO2, AAATR_TVACHELOC, AAATR1_ACOTIPVAL, AAATR1_ACOTRAOFI, AAATR1_ANUSECOFI, AAATR1_ASEMOVAUT, AAATR_TFE_EXTRA, AAATR_TFE_REAL, PERIODO, YEAR1, MES1]
Index: []

In [19]:
data_tx_tdc.head(2).AAATR_ACO_REFERE.value_counts()

                    AAATR_ACO_REFERE
                                   2

In [22]:
data_tx_tdc.AAATR_ACO_REFERE.isnull()

0           False
1           False
2           False
3           False
4           False
            ...
19856400    False
19856401    False
19856402    False
19856403    False
19856404    False
Name: AAATR_ACO_REFERE, Length: 19856405, dtype: bool

In [24]:
data_tx_tdc['AAATR_ACO_REFERE'].isnull().sum()/len(data_tx_tdc)

0.0

In [38]:
data_tx_tdc["AAATR_ACO_REFERE"].astype(float)

ValueError: could not convert string to float: