## Explorando Transacciones de TC

Código para explorar la información de trasacciones del activo

In [1]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import pandas_profiling
import os
from datetime import datetime, timedelta
import dateutil.relativedelta
import gc

pd.set_option('display.max_columns',None)

### Code to read csv with errors

In [2]:
# path_file='/mnt/s3-refined-popular/data_orig/transacciones/tarjeta-credito/transacciones_tarjeta-credito_repgesco-masterfile_M202002.csv'

# file = open(path_file, "r")
# for ix,line in enumerate(file):
#     if ix<10:
#         print(line)

FileNotFoundError: [Errno 2] No such file or directory: 's3://adl-refined-dev-popular/data_orig/transacciones/tarjeta-credito/transacciones_tarjeta-credito_repgesco-masterfile_M202002.csv'

In [3]:
path_file='s3://adl-refined-dev-popular/data_orig/transacciones/tarjeta-credito/transacciones_tarjeta-credito_repgesco-masterfile_M202002.csv'

data = pd.read_csv(path_file, sep = '|', encoding='ISO8859-1',quoting=1, dtype={'CONT_ID':str})

/home/jupyter/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,3,7,17,18,21,23,24,26,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.shape

(289402, 33)

In [5]:
data.tail()

,TIPO_ID,TIPO_ID_HOMOL,CONT_ID,IDENTIFICACION_CLIENTE,NRO_CUENTA,NUMERO_TARJETA,BIN,COD_UNICO_TRX,DESCRIPCION_TRX,FECHA_TRANSACCION,HORA_TRANSACCION,FECHA_PROCESO,TIPO_DE_PRODUCTO_TC,CODIGO_SERVICIO,VALOR_TOTAL,VALOR_IVA,VALOR_PROPINA,REFERENCIA,TIPO_TRANSACCION,NOMBRE_COMERCIO,CIUDAD_COMERCIO,ESTADO_COMERCIO,FECHA_TRX_INT,VALOR_MONEDA_ORIGEN,COD_MONEDA_ORIGEN,MODULO_LOGICO,COD_AUTORIZA,MCC,COD_ESTABLE,CUOTAS,REFEREN_UNIVERSAL,FUENTE,FECHA_PERIODO
289397,1,1000003,489152297293594301,23550107,5392386036191081979,000539******0847,539238,MT200420260000010002140,AVANCE PINPAD BANCO POPULAR,11/02/2020,12:14:54,11/02/2020,TRADICIONAL,6011.0,2000000.0,0.0,0.0,MT200420260000010002140,D,AVANCE PINPAD BANCO PO,ULAR,,/E /AVAN,NPAD BANCO POP,LAR,1.0,Z09348,6011.0,000000000000066,36,20200420000002027401464,MASTERFILE,02/2020
289398,1,1000003,958052306001453702,55229788,5392386032337817053,000539******3417,539238,MT200480168000010000906,AVANCE CAJERO RED AVAL,15/02/2020,15:19:08,17/02/2020,TRADICIONAL,6011.0,400000.0,0.0,0.0,MT200480168000010000906,D,AVANCE CAJERO RED AVAL,,,/E /AVAN,JERO RED AVAL,,1.0,Z09617,6011.0,000000000000000,36,20200460000004330026687,MASTERFILE,02/2020
289399,1,1000003,144652304659467802,88000057,5392386038590920013,000539******5827,539238,MT200410170000010000683,AVANCE CAJERO RED AVAL,08/02/2020,15:57:52,10/02/2020,TRADICIONAL,6011.0,120000.0,0.0,0.0,MT200410170000010000683,D,AVANCE CAJERO RED AVAL,,,/E /AVAN,JERO RED AVAL,,1.0,Z09826,6011.0,000000000000000,36,20200390000004660034557,MASTERFILE,02/2020
289400,1,1000003,213152307484967801,52428034,5392386039150735395,000539******0553,539238,MT200360260000010002207,AVANCE CAJERO RED AVAL,05/02/2020,60:64:1,05/02/2020,TRADICIONAL,6011.0,100000.0,0.0,0.0,MT200360260000010002207,D,AVANCE CAJERO RED AVAL,,,/E /AVAN,JERO RED AVAL,,1.0,Z09883,6011.0,000000000000000,36,20200360000004380013116,MASTERFILE,02/2020
289401,1,1000003,881452310430482501,43497352,5392386033567628764,000539******4477,539238,MT200480168000010000883,AVANCE CAJERO RED AVAL,15/02/2020,14:48:15,17/02/2020,TRADICIONAL,6011.0,210000.0,0.0,0.0,MT200480168000010000883,D,AVANCE CAJERO RED AVAL,,,/E /AVAN,JERO RED AVAL,,1.0,Z09980,6011.0,000000000000000,36,20200460000004980090132,MASTERFILE,02/2020

In [6]:
col_obj = list(data.dtypes[data.dtypes=='object'].index)
col_obj

['TIPO_ID',
 'CONT_ID',
 'IDENTIFICACION_CLIENTE',
 'NUMERO_TARJETA',
 'COD_UNICO_TRX',
 'DESCRIPCION_TRX',
 'FECHA_TRANSACCION',
 'HORA_TRANSACCION',
 'FECHA_PROCESO',
 'TIPO_DE_PRODUCTO_TC',
 'REFERENCIA',
 'TIPO_TRANSACCION',
 'NOMBRE_COMERCIO',
 'CIUDAD_COMERCIO',
 'ESTADO_COMERCIO',
 'FECHA_TRX_INT',
 'VALOR_MONEDA_ORIGEN',
 'COD_MONEDA_ORIGEN',
 'COD_AUTORIZA',
 'COD_ESTABLE',
 'REFEREN_UNIVERSAL',
 'FUENTE',
 'FECHA_PERIODO']

In [7]:
# Eliminate blank spaces
data.loc[:,col_obj] = data[col_obj].apply(lambda col: col.str.strip(), axis=1)

In [8]:
data['FUENTE'].value_counts()

REPGESCODES    198548
MASTERFILE      90854
Name: FUENTE, dtype: int64

In [9]:
data['TIPO_DE_PRODUCTO_TC'].value_counts()

Expres         145658
TRADICIONAL     90854
LA 14           47736
Name: TIPO_DE_PRODUCTO_TC, dtype: int64

In [14]:
data.loc[data['TIPO_DE_PRODUCTO_TC']=='TRADICIONAL','VALOR_TOTAL'].sum()

31091222694.380005

In [11]:
data['ESTADO_COMERCIO'].value_counts()

CO     58363
       24015
CA      1385
GB      1330
GR       818
       ...
TR         1
MS         1
MLT        1
ADC        1
KY         1
Name: ESTADO_COMERCIO, Length: 144, dtype: int64

In [12]:
data['CIUDAD_COMERCIO'].value_counts()

              190141
BOGOTA DC      28218
LAR             5364
CALI            5256
Athens          4182
               ...
05212              1
Washington         1
ASHVILLE           1
25035              1
Poznan             1
Name: CIUDAD_COMERCIO, Length: 2561, dtype: int64

In [28]:
## Filtrando tarjetas tradicionales
data_trad = data[data['TIPO_DE_PRODUCTO_TC']=='TRADICIONAL']
data_expr = data[data['TIPO_DE_PRODUCTO_TC']=='Expres']
data_14 = data[data['TIPO_DE_PRODUCTO_TC']=='LA 14']

In [31]:
print('------------------- Total ---------------------------')
print('Número de transacciones en febrero:', len(data))
print('Valor total de transacciones en febrero:', round(data['VALOR_TOTAL'].sum(),3))
print('Número de clientes que realizaron una transacción:', data['CONT_ID'].nunique())
print('Transacciones promedio de clientes:', round(data.groupby('CONT_ID').size().mean(),2))
print('------------------- Tradicional ---------------------------')
## Clientes TC trad
print('Número de transacciones en febrero TC tradicional:', len(data_trad))
print('Valor total de transacciones en febrero tc tradicional:', round(data_trad['VALOR_TOTAL'].sum(),3))
print('Número de clientes que realizaron una transacción de tc tradicional:', data_trad['CONT_ID'].nunique())
print('Transacciones promedio de clientes de tc tradicional:', round(data_trad.groupby('CONT_ID').size().mean(),2))
print('------------------- Express---------------------------')
## Clientes TC expr
print('Número de transacciones en febrero TC Express:', len(data_expr))
print('Valor total de transacciones en febrero tc Express:', round(data_expr['VALOR_TOTAL'].sum(),3))
print('Número de clientes que realizaron una transacción de tc Express:', data_expr['CONT_ID'].nunique())
print('Transacciones promedio de clientes de tc Express:', round(data_expr.groupby('CONT_ID').size().mean(),2))
print('------------------- La 14---------------------------')
## Clientes TC la 14
print('Número de transacciones en febrero TC la 14:', len(data_14))
print('Valor total de transacciones en febrero tc La 14:', round(data_14['VALOR_TOTAL'].sum(),3))
print('Número de clientes que realizaron una transacción de tc la 14:', data_14['CONT_ID'].nunique())
print('Transacciones promedio de clientes de tc la 14:', round(data_14.groupby('CONT_ID').size().mean(),2))

------------------- Total ---------------------------
Número de transacciones en febrero: 289402
Valor total de transacciones en febrero: 60487035472.99
Número de clientes que realizaron una transacción: 73254
Transacciones promedio de clientes: 3.33
------------------- Tradicional ---------------------------
Número de transacciones en febrero TC tradicional: 90854
Valor total de transacciones en febrero tc tradicional: 31091222694.38
Número de clientes que realizaron una transacción de tc tradicional: 28231
Transacciones promedio de clientes de tc tradicional: 3.2
------------------- Express---------------------------
Número de transacciones en febrero TC Express: 145658
Valor total de transacciones en febrero tc Express: 20642210290.01
Número de clientes que realizaron una transacción de tc Express: 32906
Transacciones promedio de clientes de tc Express: 3.39
------------------- La 14---------------------------
Número de transacciones en febrero TC la 14: 47736
Valor total de transacciones en febrero tc La 14: 7243098023.63
Número de clientes que realizaron una transacción de tc la 14: 11278
Transacciones promedio de clientes de tc la 14: 3.37