# Consolidando MDT

In [1]:
import pandas as pd
import numpy as np
import gc

pd.set_option('display.max_columns',None)

### Cargando Poblacion

In [2]:
### Cargando Base
poblacion_total = pd.read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_ini202111",engine='pyarrow')

In [3]:
poblacion_total = poblacion_total.drop_duplicates(subset=['id_numero_cliente','fecha_camp'], keep='first')

In [4]:
poblacion_total['periodo'] = '11-2021'

In [5]:
poblacion_total['periodo'].value_counts().sort_index()

11-2021    326737
Name: periodo, dtype: int64

In [6]:
## TODO: POR AHORA SOLO INFO 2019
#poblacion_total = poblacion_total[poblacion_total['mes_campaña']<'2020-01-01']

In [7]:
#Creación de fecha correspondiente para cruzar con la base buró
poblacion_total['data_camp']=np.where((poblacion_total['periodo']=='11-2021') ,202110,
                                      199901)

In [8]:
#Creación de fecha correspondiente para cruzar con la base buró
poblacion_total['fecha_buro']=np.where((poblacion_total['periodo']=='11-2021') ,202110,
                                       199901)

In [9]:
#Creación de fecha correspondiente para cruzar con la base activo
poblacion_total['fecha_activos']=np.where((poblacion_total['periodo']=='11-2021') ,202109,
                                         199901)

In [10]:
#Creación de fecha correspondiente para cruzar con la base pasivo
poblacion_total['fecha_pasivo']=np.where((poblacion_total['periodo']=='11-2021') ,202108,
                                         199901)

In [11]:
#Creación de fecha correspondiente para cruzar con la base libranza
poblacion_total['fecha_lib']=np.where((poblacion_total['periodo']=='11-2021') ,202110,
                                         199901)

In [12]:
#Creación de fecha correspondiente para cruzar con la base tx pasivo
poblacion_total['fecha_tx_pav']=np.where((poblacion_total['periodo']=='11-2021') ,202110,
                                         199901)

In [13]:
poblacion_total

,id_numero_cliente,id_tp_cd,id_cliente,fecha_camp,periodo,data_camp,fecha_buro,fecha_activos,fecha_pasivo,fecha_lib,fecha_tx_pav
0,13544804,1000003,102652295880533801,202110,11-2021,202110,202110,202109,202108,202110,202110
1,6880226,1000003,102652295151150201,202110,11-2021,202110,202110,202109,202108,202110,202110
2,41311613,1000003,102652314595088801,202110,11-2021,202110,202110,202109,202108,202110,202110
3,36695801,1000003,102652308842687701,202110,11-2021,202110,202110,202109,202108,202110,202110
4,23173372,1000003,103552297266851902,202110,11-2021,202110,202110,202109,202108,202110,202110
...,...,...,...,...,...,...,...,...,...,...,...
326732,38225363,1000003,167163008185214713,202110,11-2021,202110,202110,202109,202108,202110,202110
326733,11426435,1000003,211263578316689502,202110,11-2021,202110,202110,202109,202108,202110,202110
326734,1094728009,1000003,171063576803460602,202110,11-2021,202110,202110,202109,202108,202110,202110
326735,6256520,1000003,325563590406932202,202110,11-2021,202110,202110,202109,202108,202110,202110
326736,1097638172,1000003,533763590005395202,202110,11-2021,202110,202110,202109,202108,202110,202110

In [14]:
# tx activos t-1
# tx pasivos t-1

In [15]:
poblacion_total.dtypes

id_numero_cliente     int64
id_tp_cd              int64
id_cliente            int64
fecha_camp            int64
periodo              object
data_camp             int64
fecha_buro            int64
fecha_activos         int64
fecha_pasivo          int64
fecha_lib             int64
fecha_tx_pav          int64
dtype: object

In [16]:
poblacion_total.count()

id_numero_cliente    326737
id_tp_cd             326737
id_cliente           326737
fecha_camp           326737
periodo              326737
data_camp            326737
fecha_buro           326737
fecha_activos        326737
fecha_pasivo         326737
fecha_lib            326737
fecha_tx_pav         326737
dtype: int64

In [17]:
# Cast ID
poblacion_total = poblacion_total[poblacion_total['id_numero_cliente'].notnull()]
poblacion_total['id_cliente'] = poblacion_total['id_cliente'].astype(int)
poblacion_total['id_numero_cliente'] = poblacion_total['id_numero_cliente'].astype(int)

In [18]:
poblacion_total = poblacion_total.drop_duplicates()

### Guardando base pob

In [19]:
poblacion_total.shape

(326737, 11)

In [20]:
### Guardando Base:
path_final = 's3://adl-refined-dev-popular/parquet/TC_adquisicion/base_poblacion_M202111'

poblacion_total.to_parquet(path_final, engine = 'pyarrow', index = False)

In [21]:
aaaaaaa

NameError: name 'aaaaaaa' is not defined

### Base tx pasv

In [ ]:
import s3fs
import pyarrow.parquet as pq

fs = s3fs.S3FileSystem()

input_path = "s3://adl-refined-dev-popular/parquet/TC_adquisicion/tx_pasivo_202101_vars_finales_model_ambos2"
#input_path = "s3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_piloto_sep"

input = input_path
dataset = pq.ParquetDataset(input, filesystem=fs)
lib = dataset.read()
lib = lib.to_pandas()

del dataset

In [ ]:
lib.count().head(50)

In [ ]:
lib.head()

In [ ]:
lib = lib.drop_duplicates(subset=['ID_CLI'], keep='first')

In [ ]:
lib.count()

In [ ]:
lib['fecha_tx_pav'] = lib['PERIODO'].astype('int')

In [ ]:
lib.to_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/tx_pasivo_202101_vars_finales_model_ambos2", engine = 'pyarrow', index=False)