# Construcción Master table

In [1]:
import pandas as pd
import numpy as np

In [2]:
import s3fs
import pyarrow.parquet as pq

def spark_read_parquet(s3_url: str, **args):
    fs = s3fs.S3FileSystem()
    # Leyendo base
    dataset = pq.ParquetDataset(s3_url, filesystem=fs)
    table = dataset.read()
    dataframe = table.to_pandas()

    del dataset, table

    return dataframe

## Variables Campañas

In [3]:
data_camp = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/data_camp_act_M202106")

/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
/home/jupyter/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [4]:
data_camp.columns

Index(['cedula', 'mes_campaña', 'acep_oferta_prev', 'mes_ult_act',
       'mes_ult_camp', 'num_act_utl_meses', 'num_camp_ult_meses',
       'num_meses_ult_actv', 'num_meses_ult_camp', 'num_no_aceptado',
       'data_camp'],
      dtype='object')

In [5]:
#Se valida que no haya duplicados
data_camp.groupby(['cedula','data_camp']).count().filter('count > 1').count()

Series([], dtype: int64)

In [6]:
data_camp.head(5)

,cedula,mes_campaña,acep_oferta_prev,mes_ult_act,mes_ult_camp,num_act_utl_meses,num_camp_ult_meses,num_meses_ult_actv,num_meses_ult_camp,num_no_aceptado,data_camp
0,3709,2019-12-01,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,201912
1,3876,2019-11-01,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,201911
2,4444,2019-05-01,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,201905
3,8205,2019-06-01,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,201906
4,15237,2019-06-01,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,201906

In [7]:
data_camp=data_camp.drop(columns=['mes_campaña','mes_ult_act','mes_ult_camp'])

In [8]:
data_camp = data_camp.rename(columns={'cedula':'id_numero_cliente','data_camp':'fecha_camp'})

## Lectura Buro

In [9]:
data_buro = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_buro_M202101")

In [10]:
data_buro['tipo_id_homologado'] = data_buro['tipo_id_homologado'].astype('int')

In [11]:
data_buro.columns

Index(['tipo_id', 'tipo_id_homologado', 'no_identificacion', 'id_cliente',
       'fecha_buro', 'numero_obligaciones_activasdif',
       'porcentaje_utilizacion', 'quanto_mod', 'valor_cuotas_codeudores_smlv',
       'valor_utilizado_smlv'],
      dtype='object')

In [12]:
#Se valida que no haya duplicados
data_buro.groupby(['no_identificacion','fecha_buro']).count().filter('count > 1').count()

Series([], dtype: int64)

In [13]:
data_buro.groupby(['fecha_buro'])['no_identificacion'].count().head(30)

fecha_buro
202101    532424
Name: no_identificacion, dtype: int64

In [14]:
data_buro = data_buro.rename(columns={'no_identificacion':'id_numero_cliente','tipo_id_homologado':'id_tp_cd'})

In [15]:
data_buro=data_buro.drop(columns='id_cliente')

In [16]:
data_buro.head(10)

,tipo_id,id_tp_cd,id_numero_cliente,fecha_buro,numero_obligaciones_activasdif,porcentaje_utilizacion,quanto_mod,valor_cuotas_codeudores_smlv,valor_utilizado_smlv
0,1,1000003,206,202101,0.000000,0.0000,3669000.0,0.0,0.000000
1,1,1000003,357,202101,-0.166667,2.1094,3432000.0,0.0,1.973526
2,1,1000003,1112,202101,-0.333333,0.0000,1676000.0,0.0,0.000000
3,1,1000003,1272,202101,0.142857,0.7924,18188000.0,0.0,66.737771
4,1,1000003,1898,202101,0.000000,0.0000,2782000.0,0.0,0.000000
5,1,1000003,1974,202101,0.000000,0.0938,8058000.0,0.0,12.219793
6,1,1000003,2245,202101,0.000000,0.0000,3002000.0,0.0,0.000000
7,1,1000003,2460,202101,0.000000,0.0000,5521000.0,0.0,0.000000
8,1,1000003,2538,202101,-0.200000,0.0000,2238000.0,0.0,0.000000
9,1,1000003,2567,202101,-0.111111,1.0298,7452000.0,0.0,28.220436

## Lectura archivo activos

In [17]:
data_activo = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_activos_M202105")

In [18]:
data_activo.count()

nroident               315616
tipo_ident_hom         315616
fecha_activos          315616
amortizacion_min_lb    315616
cuota_max_lb_smlv      315616
dtype: int64

In [19]:
#Revisar si tiene duplicados or id y fecha
data_activo.groupby(['nroident','fecha_activos']).count().filter('count > 1').count()

Series([], dtype: int64)

In [20]:
data_activo.head(30)

,nroident,tipo_ident_hom,fecha_activos,amortizacion_min_lb,cuota_max_lb_smlv
0,206,1000003,202105,0.861739,0.531937
1,1112,1000003,202105,0.433114,0.312141
2,1272,1000003,202105,0.980259,1.563886
3,1974,1000003,202105,0.349558,0.835206
4,2460,1000003,202105,0.527590,1.785160
5,2538,1000003,202105,0.117525,0.225080
6,2567,1000003,202105,0.552581,0.575778
7,3109,1000003,202105,0.075249,1.039104
8,3169,1000003,202105,0.192496,0.318537
9,3170,1000003,202105,0.334414,0.367906
10,3254,1000003,202105,0.029175,0.994690
11,3543,1000003,202105,0.991000,1.763317
12,4058,1000003,202105,0.037095,0.233786
13,5171,1000003,202105,0.569548,0.593401
14,5198,1000003,202105,0.210552,1.428451
15,5590,1000003,202105,0.769536,0.452338
16,5701,1000003,202105,0.598374,0.517314
17,6126,1000003,202105,0.104719,1.159786
18,6201,1000003,202105,0.301913,0.497779
19,6299,1000003,202105,0.658457,0.454562
20,6385,1000003,202105,0.106409,0.814892
21,7902,1000003,202105,0.067660,1.976574
22,8109,1000003,202105,0.709401,0.575420
23,8677,1000003,202105,0.092830,0.514603
24,9271,1000003,202105,0.447445,1.000035
25,9344,1000003,202105,0.462321,0.634222
26,9913,1000003,202105,0.226498,1.963843
27,10306,1000003,202105,0.202790,0.292754
28,10755,1000003,202105,0.759942,0.158292
29,11085,1000003,202105,0.733046,0.366076

In [21]:
data_activo.columns

Index(['nroident', 'tipo_ident_hom', 'fecha_activos', 'amortizacion_min_lb',
       'cuota_max_lb_smlv'],
      dtype='object')

In [22]:
data_activo = data_activo.rename(columns={'nroident':'id_numero_cliente','tipo_ident_hom':'id_tp_cd'})

## Lectura archivo Libranzas

In [23]:
data_lib = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_libranzas_M202106")

In [24]:
data_lib.columns

Index(['id_numero_cliente', 'id_tp_cd', 'num_lib_solicitadas',
       'prom_monto_novado', 'prom_n_cuotas', 'periodo'],
      dtype='object')

In [25]:
#Revisar si tiene duplicados or id y fecha
data_lib.groupby(['id_numero_cliente','periodo']).count().filter('count > 1').count()

Series([], dtype: int64)

In [26]:
data_lib = data_lib.drop(columns='periodo')

## Lectura Archivo Pasivos

In [27]:
data_pasv = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_pasivos_M202105")

In [28]:
data_pasv.columns

Index(['tipo_id', 'identificacion', 'fecha_pasivo', 'pasv_antig_total',
       'pasv_num_meses_ult_apertura', 'pasv_dias_desde_ultima_trans',
       'pasv_saldo_total_1mes_atras', 'pasv_saldo_ca_1mes_atras'],
      dtype='object')

In [29]:
data_pasv.head()

,tipo_id,identificacion,fecha_pasivo,pasv_antig_total,pasv_num_meses_ult_apertura,pasv_dias_desde_ultima_trans,pasv_saldo_total_1mes_atras,pasv_saldo_ca_1mes_atras
0,1,946,202103,38.466667,38.466667,13.0,2.815430,2.815430
1,1,946,202104,39.500000,39.500000,44.0,5.221767,5.221767
2,1,946,202105,40.500000,40.500000,14.0,2.407694,2.407694
3,1,1131,202103,2.800000,2.800000,NaN,0.383694,0.000000
4,1,1131,202104,0.833333,0.833333,NaN,0.383694,0.000000

In [30]:
data_pasv.groupby(['fecha_pasivo']).count().head(30)

,tipo_id,identificacion,pasv_antig_total,pasv_num_meses_ult_apertura,pasv_dias_desde_ultima_trans,pasv_saldo_total_1mes_atras,pasv_saldo_ca_1mes_atras
fecha_pasivo,,,,,,,
202103,641963,641963,641960,641960,638317,641963,641963
202104,638496,638496,638493,638493,635007,638496,638496
202105,631278,631278,631275,631275,627881,631278,631278

In [31]:
data_pasv.groupby(['pasv_saldo_ca_1mes_atras'])['identificacion'].count().head(30)

pasv_saldo_ca_1mes_atras
-0.579744    1
-0.292527    1
-0.276482    3
-0.206433    1
-0.128036    1
-0.126009    1
-0.112906    1
-0.111103    1
-0.089704    1
-0.085896    1
-0.083504    1
-0.082573    4
-0.082554    1
-0.082500    1
-0.082463    1
-0.081882    1
-0.069365    1
-0.066727    1
-0.065631    1
-0.063182    1
-0.058703    1
-0.050308    1
-0.048135    1
-0.047989    1
-0.045889    1
-0.045081    1
-0.044409    1
-0.043515    1
-0.043245    1
-0.043120    1
Name: identificacion, dtype: int64

In [32]:
#Revisar si tiene duplicados or id y fecha
data_pasv.groupby(['identificacion','fecha_pasivo']).count().filter('count > 1').count()

Series([], dtype: int64)

In [33]:
data_pasv = data_pasv.rename(columns={'identificacion':'id_numero_cliente','tipo_id':'id_tp_cd'})

## Cargando TX Pasivo

In [34]:
data_tx_pasvtot = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/tx_pasivo_202101_vars_finales_model_ambos2")

In [35]:
data_tx_pasvtot['ID_CLI'] = data_tx_pasvtot['ID_CLI'].astype('int')
data_tx_pasvtot['PERIODO'] = data_tx_pasvtot['PERIODO'].astype('int')

data_tx_pasvtot = data_tx_pasvtot.rename(columns={'ID_CLIENTE':'id_cliente','ID_CLI':'no_identificacion',
                                         'PERIODO':'fecha_tx_pav'})

In [36]:
data_tx_pasvtot.columns

Index(['id_cliente', 'fecha_tx_pav', 'no_identificacion',
       'TIPO_DE_IDENTIFICACION', 'num_tx_ult_1mes', 'num_tx_ult_2meses',
       'num_tx_ult_6meses', 'sum_tx_linea', 'sum_tx_nolinea', 'fecha_ult_tx',
       'dias_desde_ult_tx', 'num_tx_ult_1mes_ahr', 'num_tx_ult_4meses_ahr',
       'sum_tx_linea_ahr', 'sum_tx_nolinea_ahr', 'dias_desde_ult_tx_ahr'],
      dtype='object')

In [37]:
data_tx_pasvtot.head(7)

,id_cliente,fecha_tx_pav,no_identificacion,TIPO_DE_IDENTIFICACION,num_tx_ult_1mes,num_tx_ult_2meses,num_tx_ult_6meses,sum_tx_linea,sum_tx_nolinea,fecha_ult_tx,dias_desde_ult_tx,num_tx_ult_1mes_ahr,num_tx_ult_4meses_ahr,sum_tx_linea_ahr,sum_tx_nolinea_ahr,dias_desde_ult_tx_ahr
0,102555361792516202,202101,901006889,3,0.0,0.0,1.0,1.0,NaN,2021-01-26,5.0,0.0,0.0,1.0,NaN,5.0
1,102652297088841901,202101,22430926,1,0.0,8.0,9.0,1.0,NaN,2021-01-07,24.0,0.0,9.0,1.0,NaN,24.0
2,102652298977216301,202101,40764682,1,1.5,3.0,5.5,1.0,NaN,2021-01-15,16.0,1.5,5.5,1.0,NaN,16.0
3,102652299297502901,202101,42757890,1,0.0,1.0,4.0,1.0,NaN,2021-01-19,12.0,0.0,4.0,1.0,NaN,12.0
4,102652308955238601,202101,87216252,1,0.0,1.0,5.0,1.0,NaN,2021-01-04,27.0,0.0,3.0,1.0,NaN,27.0
5,102652309171532601,202101,1130637495,1,0.0,1.0,4.0,1.0,NaN,2021-01-07,24.0,0.0,4.0,1.0,NaN,24.0
6,102652315644932501,202101,17178200,1,0.0,2.0,5.0,1.0,NaN,2021-01-07,24.0,0.0,3.0,1.0,NaN,24.0

In [38]:
data_tx_pasvtot = data_tx_pasvtot.rename(columns={'sum_tx_linea':'sum_tx_linea_pasv', 'sum_tx_nolinea':'sum_tx_nolinea_pasv'})

In [39]:
#Revisar si tiene duplicados or id y fecha
data_tx_pasvtot.groupby(['no_identificacion','fecha_tx_pav']).count().filter('count > 1').count()

Series([], dtype: int64)

In [40]:
data_tx_pasvtot=data_tx_pasvtot.drop(columns=['id_cliente','TIPO_DE_IDENTIFICACION'])

In [41]:
data_tx_pasvtot = data_tx_pasvtot.rename(columns={'no_identificacion':'id_numero_cliente'})

## Lectura poblacion total

In [42]:
poblacion_total = spark_read_parquet("s3://adl-refined-dev-popular/parquet/TC_adquisicion/base_poblacion_M202107")

In [43]:
poblacion_total.dtypes

id_numero_cliente     int64
id_tp_cd              int64
fecha_camp            int64
id_cliente            int64
periodo              object
data_camp             int64
fecha_buro            int64
fecha_activos         int64
fecha_pasivo          int64
fecha_lib             int64
fecha_tx_pav          int64
dtype: object

In [44]:
#Se valida que no haya duplicados
poblacion_total.groupby(['id_numero_cliente','data_camp']).count().filter('count > 1').count()

Series([], dtype: int64)

In [45]:
poblacion_total = poblacion_total.rename(columns={'standard_id':'id_tp_cd'})

In [46]:
poblacion_total = poblacion_total.drop(columns='periodo')

In [47]:
poblacion_total.groupby('fecha_buro').count()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,data_camp,fecha_activos,fecha_pasivo,fecha_lib,fecha_tx_pav
fecha_buro,,,,,,,,,
202101,334665,334665,334665,334665,334665,334665,334665,334665,334665

In [48]:
poblacion_total.head()

,id_numero_cliente,id_tp_cd,fecha_camp,id_cliente,data_camp,fecha_buro,fecha_activos,fecha_pasivo,fecha_lib,fecha_tx_pav
0,78746146,1000003,202106,102652303931898101,202106,202101,202105,202105,202106,202101
1,20300762,1000003,202106,102652296820136301,202106,202101,202105,202105,202106,202101
2,4963836,1000003,202106,102652294887775501,202106,202101,202105,202105,202106,202101
3,8487399,1000003,202106,102652312101686601,202106,202101,202105,202105,202106,202101
4,25544711,1000003,202106,102652316678657801,202106,202101,202105,202105,202106,202101

In [49]:
data_pasv.head()

,id_tp_cd,id_numero_cliente,fecha_pasivo,pasv_antig_total,pasv_num_meses_ult_apertura,pasv_dias_desde_ultima_trans,pasv_saldo_total_1mes_atras,pasv_saldo_ca_1mes_atras
0,1,946,202103,38.466667,38.466667,13.0,2.815430,2.815430
1,1,946,202104,39.500000,39.500000,44.0,5.221767,5.221767
2,1,946,202105,40.500000,40.500000,14.0,2.407694,2.407694
3,1,1131,202103,2.800000,2.800000,NaN,0.383694,0.000000
4,1,1131,202104,0.833333,0.833333,NaN,0.383694,0.000000

In [50]:
data_pasv.dtypes

id_tp_cd                          int64
id_numero_cliente                 int64
fecha_pasivo                      int64
pasv_antig_total                float64
pasv_num_meses_ult_apertura     float64
pasv_dias_desde_ultima_trans    float64
pasv_saldo_total_1mes_atras     float64
pasv_saldo_ca_1mes_atras        float64
dtype: object

## Union de todas las bases

In [51]:
# Union muestra con base buro

In [52]:
sqlDF1 = pd.merge(poblacion_total, data_camp, on=['id_numero_cliente','fecha_camp'], how="left")
sqlDF1 = pd.merge(sqlDF1, data_buro, on=['id_numero_cliente','id_tp_cd','fecha_buro'], how="left")

In [53]:
#sqlDF1 = sqlDF1.drop(columns='__index_level_0__')

In [54]:
# Union con archivo activos

In [55]:
sqlDF2=pd.merge(sqlDF1, data_activo, on=['id_numero_cliente','id_tp_cd','fecha_activos'],how="left")

In [56]:
#sqlDF2.createOrReplaceTempView("sqlDF2")

In [57]:
#sqlDF2=sqlDF2.drop('__index_level_0__')

In [58]:
#Union con los demas fuentes

In [59]:
# Uniendo libranzas
sqlDF3=pd.merge(sqlDF2, data_lib, on=['id_numero_cliente','id_tp_cd'],how="left")
#sqlDF3.createOrReplaceTempView("sqlDF3")
#sqlDF3=sqlDF3.drop('__index_level_0__')

In [60]:
# Uniendo Pasivos
sqlDF4=pd.merge(sqlDF3, data_pasv, on=['id_numero_cliente','fecha_pasivo'],how="left")
#sqlDF4.createOrReplaceTempView("sqlDF4")
#sqlDF4=sqlDF4.drop('__index_level_0__')

In [61]:
# Uniendo TX Pasivo
sqlDF5 = pd.merge(sqlDF4,data_tx_pasvtot,on=['id_numero_cliente','fecha_tx_pav'],how="left")

#sqlDF5.createOrReplaceTempView("sqlDF5")
#sqlDF5=sqlDF5.drop('__index_level_0__')

In [62]:
total_tdc_paprob = sqlDF5

In [63]:
# del sqlDF5, sqlDF4, sqlDF3, sqlDF2, sqlDF1 
# del data_tx_pasvtot, data_pasv, data_lib, data_activo, data_buro
# #del data_tx_pasvca, data_tx_pasvcdt, data_tx_pasvcc, data_tx_pasvtot,data_pasv, data_lib, data_activo, data_buro

In [64]:
total_tdc_paprob.count()

id_numero_cliente                 334676
id_tp_cd_x                        334676
fecha_camp                        334676
id_cliente                        334676
data_camp                         334676
fecha_buro                        334676
fecha_activos                     334676
fecha_pasivo                      334676
fecha_lib                         334676
fecha_tx_pav                      334676
acep_oferta_prev                    9009
num_act_utl_meses                   9009
num_camp_ult_meses                  9009
num_meses_ult_actv                    19
num_meses_ult_camp                  9009
num_no_aceptado                     9009
tipo_id                           299155
numero_obligaciones_activasdif    299155
porcentaje_utilizacion            299155
quanto_mod                        299155
valor_cuotas_codeudores_smlv      299155
valor_utilizado_smlv              299155
amortizacion_min_lb               314356
cuota_max_lb_smlv                 314356
num_lib_solicitadas               314702
prom_monto_novado                 314702
prom_n_cuotas                     314702
id_tp_cd_y                        198378
pasv_antig_total                  198376
pasv_num_meses_ult_apertura       198376
pasv_dias_desde_ultima_trans      198284
pasv_saldo_total_1mes_atras       198378
pasv_saldo_ca_1mes_atras          198378
num_tx_ult_1mes                    68140
num_tx_ult_2meses                  68140
num_tx_ult_6meses                  68140
sum_tx_linea_pasv                  66274
sum_tx_nolinea_pasv                  390
fecha_ult_tx                       68140
dias_desde_ult_tx                  68140
num_tx_ult_1mes_ahr                67963
num_tx_ult_4meses_ahr              67963
sum_tx_linea_ahr                   66116
sum_tx_nolinea_ahr                   355
dias_desde_ult_tx_ahr              67963
dtype: int64

## Se exportan las bases

In [65]:
path = "s3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202107"
#total_tdc_paprob.write.format("parquet").mode("overwrite").save("s3://adl-refined-dev-popular/parquet/TC_adquisicion/total_tdc_M202104")

total_tdc_paprob.to_parquet(path, engine='pyarrow',index=False)